*~
/cache/*
!/cache/.htaccess
!/cache/index.html
/composer.phar
/config*.php
/ext/*
/files/*
/images/avatars/gallery/*
/images/avatars/upload/*
/images/ranks/*
/install/schemas/schema.json
/language/*
!/language/en
/store/*
/styles/*
!/styles/prosilver
!/styles/subsilver2
/vendor
