<p>WFC received the following order:</p>
<p>Equipments Ordered:</p>
<p><%= @resource.form_values %></p>
<p><%= @resource.form_values["invoiceName"] %></p>
<p>Since the sender has already confirmed the details by ticking the checkbox in the form, WFC will soon submit the order and get back to you.</p>
