<% if delegates.length > 0 %>
  <div class="table-responsive">
    <table class="table delegates-table">
      <colgroup>
        <col />
        <col class="col-md-4" />
        <col class="col-md-4" />
        <col class="col-md-4" />
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Role</th>
          <th>Region</th>
        </tr>
      </thead>
      <tbody>
        <% delegates.each do |delegate| %>
          <%= render "delegate_row", delegate: delegate %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
