<% provide(:title, 'About the WCA') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <h3>Mission</h3>

  <p>The World Cube Association governs competitions for all puzzles labelled as Rubik puzzles, and all other puzzles that are played by twisting the sides, so-called 'twisty puzzles'. Most famous of these puzzles is the Rubik's Cube, invented by professor Rubik from Hungary. A selection of these puzzles are chosen as official events of the WCA.</p>

  <p>The World Cube Association organises competitions all over the world, supported by national organisations responsible for organising competitions in their countries.</p>

  <p>The goal of the World Cube Association is to have<br />
    <strong>more competitions in more countries with more people and more fun, under fair and equal conditions.</strong>
  </p>

  <p>The spirit of the World Cube Association is that<br />
    <strong>people from all over the world have fun together in a friendly atmosphere, help each other and behave sportsmanlike.</strong>
  </p>

  <h3><br />Structure</h3>
  <p>
  The World Cube Association is led by the <b>WCA Board</b>, and has several committees responsible for the operational activities of the WCA.
  </p>
  <h3>WCA Committees</h3>
  <% @committees.each do |committee| %>
    <h4><%= link_to committee.name, committee_path(committee) %></h4>
    <p><%=md committee.duties %></p>
  <% end %>

  <p>
  All competitors automatically become <strong>members</strong> of the WCA in their first WCA competition.
  </p>

</div>
