<% provide(:title, 'Contact Information') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <h2><u>General Inquiries</u></h2>
  <p>For general inquiries, you may register and post a message in the <a href="/forum">WCA Forum</a>, or e-mail the WCA Board at <a href="mailto:board@worldcubeassociation.org">board@worldcubeassociation.org</a>. For inquiries concerning a specific area or competition, please contact your local <%= link_to "WCA Delegate", delegates_path %>. </p>
  <h2><u>Committees and Teams</u></h2>
  <p><strong>WCA Board</strong> - <a href="mailto:board@worldcubeassociation.org">board@worldcubeassociation.org</a><br />
  (WCA organisation, delegate reports, competition approval, general inquiries)<br />
  Ilkyoo Choi, Olivér Perge, Pedro Santos Guimarães,  Ron van Bruchem</p>
  <p><strong>WCA Disciplinary Committee</strong> - <a href="mailto:wdc@worldcubeassociation.org">wdc@worldcubeassociation.org</a><br />
  (independent advice to WCA board, independent investigations, counselor for important personal matters)<br />
  Daniel Sheppard (leader), Rob Stuart, Tomoaki Okayama</p>
  <p><strong>WCA Results Team</strong> - <a href="mailto:results@worldcubeassociation.org">results@worldcubeassociation.org</a><br />
  (competition results, result corrections)<br />
  Sébastien Auroux (leader), Evan Liu, Baiqiang Dong, Luis J. Iáñez, Natán Riggenbach, all members of the WCA Board</p>
  <p><strong>WCA Regulations Committee</strong> - [<a href="/contact/wrc">Contact Form</a>]<br />
  (maintenance of the WCA Regulations)<br />
  Kit Clement (leader), Vincent Sheu, Lucas Garron, Sarah Strong, Tim Habermaas, Laura Ohrndorf</p>
  <p><strong>WCA Website Team</strong> - [<a href="/contact/website">Contact Form</a>]<br />
  (website questions)<br />
  Jeremy Fleischman (leader), Ron van Bruchem, Gaël Dusser, Lucas Garron, Sébastien Auroux</p>
  <p><strong>WCA Software team</strong> - <a href="mailto:software@worldcubeassociation.org">software@worldcubeassociation.org</a> Please note: This is a public mailing list, anyone is welcome to join the <a target="_blank" href="https://groups.google.com/forum/#!forum/wca-software">Google Group</a>.<br />
  (maintenance of software of WCA)<br />
  Jeremy Fleischman (leader), Stefan Pochmann, James LaChance, Jim Mertens, Gaël Dusser, Lucas Garron</p>
</div>
