<% provide(:title, 'WCA Delegates') %>

<div class="container">
  <h1><%= yield(:title) %></h1>
  <strong>WCA Delegates</strong> are members of the WCA who are responsible for making sure that all WCA competitions are run according to the mission, regulations and spirit of the WCA. The WCA distinguishes between <strong>WCA Senior Delegates</strong>, <strong>WCA Delegates</strong> and <strong>WCA Candidate Delegates</strong>. Additional to the duties of a WCA Delegate, a WCA Senior Delegate is responsible for managing the Delegates in their area and can also be contacted by the community for regional matters. New Delegates are at first listed as WCA Candidate Delegates and need to show that they are capable of managing competitions successfully before being listed as WCA Delegates.
  </p>
  <p>
  The WCA acknowledges the following members as delegates for official WCA competitions:</p>
  <table border="2" width="60%"><tr><th>Name</th>
  <th>Role</th>
  <th>Region</th>
  </tr><tr bgcolor="black"><td colspan="3"><font color="white"><b>Board</b></font></td>
  </tr><tr><td><b><a href="mailto:ilkyoochoi@gmail.com">Ilkyoo Choi</a></b></td>
  <td><b>Board Member</b></td>
  <td><b>World (Korea / USA, Illinois)</b></td>
  </tr><tr><td><b><a href="mailto:natanrig@hotmail.com">Natán Riggenbach</a></b></td>
  <td><b>Board Member</b></td>
  <td><b>World (Peru)</b></td>
  </tr><tr><td><b><a href="mailto:pergeoliver@gmail.com">Olivér Perge</a></b></td>
  <td><b>Board Member</b></td>
  <td><b>World (Hungary)</b></td>
  </tr><tr><td><b><a href="mailto:pedrosino@gmail.com">Pedro Santos Guimarães</a></b></td>
  <td><b>Board Member</b></td>
  <td><b>World (Brazil)</b></td>
  </tr><tr><td><b><a href="mailto:rbruchem@worldcubeassociation.org">Ron van Bruchem</a></b></td>
  <td><b>Board Member</b></td>
  <td><b>World (Netherlands)</b></td>
  </tr><tr><td colspan="3" align="right"><font color="white">.</font></td>
  </tr><tr bgcolor="black"><td colspan="3"><font color="white"><b>Western USA</b></font></td>
  </tr><tr><td><b><a href="mailto:chriskeyan@gmail.com">Chris Krueger</a></b></td>
  <td><b>Senior Delegate</b></td>
  <td><b>USA (Georgia) / China</b></td>
  </tr><tr><td><a href="mailto:cubeflip540@gmail.com">James Hamory</a></td>
  <td>Delegate</td>
  <td>USA (California)</td>
  </tr><tr><td><a href="mailto:jeremyfleischman@gmail.com">Jeremy Fleischman</a></td>
  <td>Delegate</td>
  <td>USA (California)</td>
  </tr><tr><td><a href="mailto:not.kevin.888@gmail.com">Michael Young</a></td>
  <td>Delegate</td>
  <td>USA (California)</td>
  </tr><tr><td><a href="mailto:shelchang@gmail.com">Shelley Chang</a></td>
  <td>Delegate</td>
  <td>USA (California)</td>
  </tr><tr><td><a href="mailto:vsheu@berkeley.edu">Vincent Sheu</a></td>
  <td>Delegate</td>
  <td>USA (California)</td>
  </tr><tr><td><a href="mailto:spdqbr@gmail.com">Daniel Hayes</a></td>
  <td>Delegate</td>
  <td>USA (Colorado)</td>
  </tr><tr><td><a href="mailto:christopherclement91@gmail.com">Kit Clement</a></td>
  <td>Delegate</td>
  <td>USA (Oregon / Michigan)</td>
  </tr><tr><td><a href="mailto:caseypernsteiner@gmail.com">Casey Pernsteiner</a></td>
  <td>Delegate</td>
  <td>USA (Texas)</td>
  </tr><tr><td><a href="mailto:karate_shon@yahoo.com">Shonathon Collins</a></td>
  <td>Delegate</td>
  <td>USA (Texas)</td>
  </tr><tr><td><a href="mailto:deadrat@qq.com">Zheng Li</a></td>
  <td>Delegate</td>
  <td>USA (Washington)</td>
  </tr><tr><td colspan="3" align="right"><font color="white">.</font></td>
  </tr><tr bgcolor="black"><td colspan="3"><font color="white"><b>Eastern USA &amp; Canada</b></font></td>
  </tr><tr><td><b><a href="mailto:bobrburton@gmail.com">Bob Burton</a></b></td>
  <td><b>Senior Delegate</b></td>
  <td><b>USA (New York)</b></td>
  </tr><tr><td><a href="mailto:davewcampbell@gmail.com">Dave Campbell</a></td>
  <td>Delegate</td>
  <td>Canada</td>
  </tr><tr><td><a href="mailto:kldeasis@gmail.com">Kristopher De Asis</a></td>
  <td>Delegate</td>
  <td>Canada</td>
  </tr><tr><td><i><a href="mailto:micah.stairs@canadiancubing.com">Micah Stairs</a></i></td>
  <td> <i>Candidate Delegate</i></td>
  <td><i>Canada</i></td>
  </tr><tr><td><i><a href="mailto:arthur.daniel.adams@gmail.com">Arthur Adams</a></i></td>
  <td> <i>Candidate Delegate</i></td>
  <td><i>USA (Connecticut)</i></td>
  </tr><tr><td><i><a href="mailto:fatboyxpc@gmail.com">James LaChance</a></i></td>
  <td> <i>Candidate Delegate</i></td>
  <td><i>USA (Florida)</i></td>
  </tr><tr><td><a href="mailto:MikeHughey1@gmail.com">Mike Hughey</a></td>
  <td>Delegate</td>
  <td>USA (Indiana)</td>
  </tr><tr><td><a href="mailto:felix.lee135@gmail.com">Felix Lee</a></td>
  <td>Delegate</td>
  <td>USA (Maryland)</td>
  </tr><tr><td><a href="mailto:timbreynolds@gmail.com">Tim Reynolds</a></td>
  <td>Delegate</td>
  <td>USA (Massachusetts)</td>
  </tr><tr><td><i><a href="mailto:skittles862@gmail.com">James Hildreth</a></i></td>
  <td> <i>Candidate Delegate</i></td>
  <td><i>USA (Michigan)</i></td>
  </tr><tr><td><a href="mailto:bryan@logan.cc">Bryan Logan</a></td>
  <td>Delegate</td>
  <td>USA (Minnesota)</td>
  </tr><tr><td><i><a href="mailto:jokerman5656@gmail.com">Chris Braiedy</a></i></td>
  <td> <i>Candidate Delegate</i></td>
  <td><i>USA (Minnesota)</i></td>
  </tr><tr><td><i><a href="mailto:shadentsmith@gmail.com">Shaden Smith</a></i></td>
  <td> <i>Candidate Delegate</i></td>
  <td><i>USA (Minnesota)</i></td>
  </tr><tr><td><a href="mailto:kiandbarry@gmail.com">Kian Barry</a></td>
  <td>Delegate</td>
  <td>USA (New Jersey)</td>
  </tr><tr><td><a href="mailto:chester.e.lian+wca@gmail.com">Chester Lian</a></td>
  <td>Delegate</td>
  <td>USA (North Carolina)</td>
  </tr><tr><td><a href="http://koii.cubingusa.com/contact.php?who=jim_mertens">Jim Mertens</a></td>
  <td>Delegate</td>
  <td>USA (Ohio)</td>
  </tr><tr><td><i><a href="mailto:eliu0145@gmail.com">Evan Liu</a></i></td>
  <td> <i>Candidate Delegate</i></td>
  <td><i>USA (Virginia)</i></td>
  </tr><tr><td><a href="mailto:chris@speedcubing.com">Chris Hardwick</a></td>
  <td>Delegate</td>
  <td>USA (Wisconsin)</td>
  </tr><tr><td colspan="3" align="right"><font color="white">.</font></td>
  </tr><tr bgcolor="black"><td colspan="3"><font color="white"><b>Latin America</b></font></td>
  </tr><tr><td><b><a href="mailto:rafael@cinoto.com.br">Rafael Cinoto</a></b></td>
  <td><b>Senior Delegate</b></td>
  <td><b>Brazil</b></td>
  </tr><tr><td><a href="mailto:shanguito.cubero@gmail.com">Claudio Gonzalez</a></td>
  <td>Delegate</td>
  <td>Argentina</td>
  </tr><tr><td><i><a href="mailto:lifschitz.axel@gmail.com">Axel Lifschitz</a></i></td>
  <td> <i>Candidate Delegate</i></td>
  <td><i>Argentina</i></td>
  </tr><tr><td><i><a href="mailto:dossantos.eder@gmail.com">Éder dos Santos Silva</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Brazil</i></td>
  </tr><tr><td><i><a href="mailto:lalleoni@gmail.com">Leandro Vasconcellos Alleoni</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Brazil</i></td>
  </tr><tr><td><a href="mailto:felipe_rojas_@hotmail.com">Felipe Rojas</a></td>
  <td>Delegate</td>
  <td>Chile</td>
  </tr><tr><td><a href="mailto:wilsonjose.duarte@gmail.com">Wilson José Duarte Espitia</a></td>
  <td>Delegate</td>
  <td>Colombia</td>
  </tr><tr><td><i><a href="mailto:2011varg01@gmail.com">Juan Camilo Vargas</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Colombia</i></td>
  </tr><tr><td><i><a href="mailto:nestorsanchez3d@gmail.com">Nestor Sanchez</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Dominican Republic</i></td>
  </tr><tr><td><i><a href="mailto:cara.ram.11@gmail.com">Adrián Ramírez</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Guatemala</i></td>
  </tr><tr><td><i><a href="mailto:postgirl91@gmail.com">Areli Rubí Gordillo Martínez</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Mexico</i></td>
  </tr><tr><td><i><a href="mailto:noel_speedcuber@hotmail.com">Noel Yzaguirre</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Peru</i></td>
  </tr><tr><td><i><a href="mailto:oscaralbertoceballos@gmail.com">Oscar Alberto Ceballos Contreras</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Venezuela</i></td>
  </tr><tr><td colspan="3" align="right"><font color="white">.</font></td>
  </tr><tr bgcolor="black"><td colspan="3"><font color="white"><b>Western Europe</b></font></td>
  </tr><tr><td><b><a href="mailto:danielkcsheppard@gmail.com">Daniel Sheppard</a><b></b></b></td>
  <td><b>Senior Delegate</b></td>
  <td><b>United Kingdom</b></td>
  </tr><tr><td><a href="mailto:geert.bicler@gmail.com">Geert Bicler</a></td>
  <td>Delegate</td>
  <td>Belgium</td>
  </tr><tr><td><a href="mailto:jlm@numericable.com">Jean-Louis Mathieu</a></td>
  <td>Delegate</td>
  <td>France</td>
  </tr><tr><td><a href="mailto:loic.petit@gmail.com">Loic Petit</a></td>
  <td>Delegate</td>
  <td>France</td>
  </tr><tr><td><a href="mailto:philippe.44@gmail.com">Philippe Virouleau</a></td>
  <td>Delegate</td>
  <td>France</td>
  </tr><tr><td><a href="mailto:bjoern-korbanka@web.de">Björn Korbanka</a></td>
  <td>Delegate</td>
  <td>Germany</td>
  </tr><tr><td><a href="mailto:sebastien.auroux.sa@gmail.com">Sébastien Auroux</a></td>
  <td>Delegate</td>
  <td>Germany</td>
  </tr><tr><td><a href="mailto:lorenzo.vig@gmail.com">Lorenzo Vigani Poli</a></td>
  <td>Delegate</td>
  <td>Italy</td>
  </tr><tr><td><a href="mailto:m.provasi2@campus.unimib.it">Matteo Provasi</a>
  </td><td>Delegate</td>
  <td>Italy</td>
  </tr><tr><td><a href="mailto:wolf_ste@hotmail.it">Stefano Bevacqua</a></td>
  <td>Delegate</td>
  <td>Italy</td>
  </tr><tr><td><a href="mailto:ton@speedcubing.com">Ton Dennenbroek</a></td>
  <td>Delegate</td>
  <td>Netherlands</td>
  </tr><tr><td><i><a href="mailto:cubizh@gmail.com">António Gomes</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Portugal</i></td>
  </tr><tr><td><a href="mailto:alexodm.wca@gmail.com">Alexander Olleta</a></td>
  <td>Delegate</td>
  <td>Spain</td>
  </tr><tr><td><a href="mailto:frantira@hotmail.com">Javier Tirado</a></td>
  <td>Delegate</td>
  <td>Spain</td>
  </tr><tr><td><i><a href="mailto:luis@twisttheweb.com">Luis Javier Iañez</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Spain</i></td>
  </tr><tr><td><a href="mailto:oleg.grits42@gmail.com">Oleg Gritsenko</a></td>
  <td>Delegate</td>
  <td>Switzerland / Russia</td>
  </tr><tr><td><a href="mailto:james.g.molloy@gmail.com">James Molloy</a></td>
  <td>Delegate</td>
  <td>United Kingdom</td>
  </tr><tr><td colspan="3" align="right"><font color="white">.</font></td>
  </tr><tr bgcolor="black"><td colspan="3"><font color="white"><b>Northern Europe &amp; Baltic States</b></font></td>
  </tr><tr><td><b><a href="mailto:henrikthedane@gmail.com">Henrik Buus Aagaard</a></b></td>
  <td><b>Senior Delegate</b></td>
  <td><b>Denmark</b></td>
  </tr><tr><td><i><a href="mailto:matias.kbr@gmail.com">Matias Rasmussen</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Denmark</i></td>
  </tr><tr><td><a href="mailto:ivo.kruusamagi@gmail.com">Ivo Kruusamägi</a></td>
  <td>Delegate</td>
  <td>Estonia</td>
  </tr><tr><td><a href="mailto:juho.saarimaa@gmail.com">Juho Saarimaa</a></td>
  <td>Delegate</td>
  <td>Finland</td>
  </tr><tr><td><a href="mailto:tomi.o.ronkainen@gmail.com">Tomi Ronkainen</a></td>
  <td>Delegate</td>
  <td>Finland</td>
  </tr><tr><td><i><a href="mailto:hilmarm@stud.ntnu.no">Hilmar Magnusson</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Iceland</i></td>
  </tr><tr><td><i><a href="mailto:iizijs88@gmail.com">Kārlis Iskrovs</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Latvia</i></td>
  </tr><tr><td><a href="mailto:vidar1988@gmail.com">Vidar Klungre</a></td>
  <td>Delegate</td>
  <td>Norway</td>
  </tr><tr><td><a href="mailto:gunkr520@gmail.com">Gunnar Krig</a></td>
  <td>Delegate</td>
  <td>Sweden</td>
  </tr><tr><td><a href="mailto:karekrig@gmail.com">Kåre Krig</a></td>
  <td>Delegate</td>
  <td>Sweden</td>
  </tr><tr><td colspan="3" align="right"><font color="white">.</font></td>
  </tr><tr bgcolor="black"><td colspan="3"><font color="white"><b>Eastern Europe &amp; Middle East</b></font></td>
  </tr><tr><td><b><a href="mailto:contact@speedcubing.ro">Radu Făciu</a></b></td>
  <td><b>Senior Delegate</b></td>
  <td><b>Romania</b></td>
  </tr><tr><td><i><a href="mailto:ilya21tereshko@gmail.com">Ilya Tereshko</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Belarus</i></td>
  </tr><tr><td><i><a href="mailto:Arash.Maslehatjoo@gmail.com">Arash Maslehatjoo</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Iran</i></td>
  </tr><tr><td><i><a href="mailto:mehdi.roshan@gmail.com">Mehdi Pourmotalleb</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Iran</i></td>
  </tr><tr><td><a href="mailto:vomberg@hafetz.co.il">Dror Vomberg</a></td>
  <td>Delegate</td>
  <td>Israel</td>
  </tr><tr><td><a href="mailto:polkowski.a.j@gmail.com">Adam Polkowski</a></td>
  <td>Delegate</td>
  <td>Poland</td>
  </tr><tr><td><i><a href="mailto:grzegorz_luczyna@tlen.pl">Grzegorz Łuczyna</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Poland</i></td>
  </tr><tr><td><i><a href="mailto:piotoor@gmail.com">Piotr Kózka</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Poland</i></td>
  </tr><tr><td><i><a href="mailto:tomasz.zolnowski@gmail.com">Tomasz Żołnowski</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Poland</i></td>
  </tr><tr><td><i><a href="mailto:vasiliistasyev@gmail.com">Vasily Stasyev</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Russia</i></td>
  </tr><tr><td><a href="mailto:vogrinec.p@gmail.com">Petra Kobal Vogrinec</a></td>
  <td>Delegate</td>
  <td>Slovenia</td>
  </tr><tr><td><a href="mailto:i.kuleli@gmail.com">Iskender Aznavur</a></td>
  <td>Delegate</td>
  <td>Turkey</td>
  </tr><tr><td><i><a href="mailto:recepguel@gmail.com">Recep Gül</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Turkey</i></td>
  </tr><tr><td><a href="mailto:alukret@gmail.com">Roman Ostapenko</a></td>
  <td>Delegate</td>
  <td>Ukraine</td>
  </tr><tr><td><i><a href="mailto:melikyan.artem@gmail.com">Artem Melikian</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Ukraine</i></td>
  </tr><tr><td colspan="3" align="right"><font color="white">.</font></td>
  </tr><tr bgcolor="black"><td colspan="3"><font color="white"><b>Southeast Asia &amp; India</b></font></td>
  </tr><tr><td><b><a href="mailto:nikhil.s.mande@gmail.com">Nikhil Mande</a></b></td>
  <td><b>Senior Delegate</b></td>
  <td><b>India</b></td>
  </tr><tr><td><i><a href="mailto:scoobydoobydoo93@gmail.com">Akash Rupela</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>India</i></td>
  </tr><tr><td><i><a href="mailto:gauravrtaneja@gmail.com">Gaurav Taneja</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>India</i></td>
  </tr><tr><td><i><a href="mailto:tubayan09@gmail.com">Shubhayan Kabir</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>India</i></td>
  </tr><tr><td><i><a href="mailto:siva.shanmukh@gmail.com">Siva Shanmukh Vetcha</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>India</i></td>
  </tr><tr><td><i><a href="mailto:timebandityou@gmail.com">Swaminathan Chandrasekaran</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>India</i></td>
  </tr><tr><td><a href="mailto:riadi.ars@gmail.com">Riadi Arsandi</a></td>
  <td>Delegate</td>
  <td>Indonesia</td>
  </tr><tr><td><i><a href="mailto:alvin_febrianth@yahoo.com">Alvin Febrianth</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Indonesia</i></td>
  </tr><tr><td><i><a href="mailto:cendy.cr@gmail.com">Cendy Cahyo Rahmat</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Indonesia</i></td>
  </tr><tr><td><a href="mailto:ben41sbr2@yahoo.com">James Benedict Cañares</a></td>
  <td>Delegate</td>
  <td>Philippines</td>
  </tr><tr><td><i><a href="mailto:glennmarksalgado@yahoo.com">Glenn Mark Salgado</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Philippines</i></td>
  </tr><tr><td><i><a href="mailto:j.e.t.ubaldo@gmail.com">John Edison Ubaldo</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Philippines</i></td>
  </tr><tr><td><i><a href="mailto:zhouyichen123@gmail.com">Zhou Yichen (周奕臣)</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Singapore</i></td>
  </tr><tr><td><a href="mailto:ohwan@hotmail.com">Chatchawan Jaruwattanakun</a></td>
  <td>Delegate</td>
  <td>Thailand</td>
  </tr><tr><td><a href="mailto:atg.toan@gmail.com">Do Cong Toan</a></td>
  <td>Delegate</td>
  <td>Vietnam</td>
  </tr><tr><td><a href="mailto:nguyen_anh_86@yahoo.com">Nguyen Anh Trinh</a></td>
  <td>Delegate</td>
  <td>Vietnam</td>
  </tr><tr><td colspan="3" align="right"><font color="white">.</font></td>
  </tr><tr bgcolor="black"><td colspan="3"><font color="white"><b>Far East Asia</b></font></td>
  </tr><tr><td><b><a href="mailto:mf8xiaoyuan@gmail.com">Fangyuan Chang</a></b></td>
  <td><b>Senior Delegate</b></td>
  <td><b>China</b></td>
  </tr><tr><td><a href="mailto:danjonopolis@gmail.com">Danyang Chen</a></td>
  <td>Delegate</td>
  <td>China</td>
  </tr><tr><td><a href="mailto:20003214@sina.com">Donglei Li</a></td>
  <td>Delegate</td>
  <td>China</td>
  </tr><tr><td><a href="mailto:wanghao@yoercn.com">Hao Wang</a></td>
  <td>Delegate</td>
  <td>China</td>
  </tr><tr><td><a href="mailto:zmproof@gmail.com">Ming Zheng</a></td>
  <td>Delegate</td>
  <td>China</td>
  </tr><tr><td><a href="mailto:wavelet1988@gmail.com">Xiaobo Jin</a></td>
  <td>Delegate</td>
  <td>China</td>
  </tr><tr><td><a href="mailto:kimchikoon@hkrcu.net">Kim Chan Tak Chuen</a></td>
  <td>Delegate</td>
  <td>Hong Kong</td>
  </tr><tr><td><i><a href="mailto:kh.khatanbaatar@yahoo.com">Khatanbaatar Khandsuren</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Mongolia</i></td>
  </tr><tr><td><a href="mailto:chevylove@gmail.com">Chi-Fan Li</a></td>
  <td>Delegate</td>
  <td>Taiwan</td>
  </tr><tr><td><a href="mailto:junyiguo@gmail.com">Jun-Yi Guo</a></td>
  <td>Delegate</td>
  <td>Taiwan</td>
  </tr><tr><td><i><a href="mailto:austin.lohong@gmail.com">Hung Lo</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Taiwan</i></td>
  </tr><tr><td colspan="3" align="right"><font color="white">.</font></td>
  </tr><tr bgcolor="black"><td colspan="3"><font color="white"><b>Japan</b></font></td>
  </tr><tr><td><b><a href="mailto:rinrinshirotan@gmail.com">Yohei Suzuki</a></b></td>
  <td><b>Senior Delegate</b></td>
  <td><b>Japan</b></td>
  </tr><tr><td><a href="mailto:sugakei1224@gmail.com">Kei Suga</a></td>
  <td>Delegate</td>
  <td>Japan</td>
  </tr><tr><td><a href="mailto:masayuki@akimoto3.com">Masayuki Akimoto</a></td>
  <td>Delegate</td>
  <td>Japan</td>
  </tr><tr><td><a href="mailto:s-tokuda@stlabo.com">Sakae Tokuda</a></td>
  <td>Delegate</td>
  <td>Japan</td>
  </tr><tr><td><a href="mailto:ta1829ka@gmail.com">Takayuki Ookusa</a></td>
  <td>Delegate</td>
  <td>Japan</td>
  </tr><tr><td><a href="mailto:ochamee@kyf.biglobe.ne.jp">Yuji Suse</a></td>
  <td>Delegate</td>
  <td>Japan</td>
  </tr><tr><td colspan="3" align="right"><font color="white">.</font></td>
  </tr><tr bgcolor="black"><td colspan="3"><font color="white"><b>Oceania</b></font></td>
  </tr><tr><td><b><a href="mailto:tim@speedcubing.com.au">Tim McMahon</a></b></td>
  <td><b>Senior Delegate</b></td>
  <td><b>Australia</b></td>
  </tr><tr><td><i><a href="mailto:raymond.tianyu.li@gmail.com">Ray Li</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>Australia</i></td>
  </tr><tr><td><a href="mailto:d4vd.lim@gmail.com">David Lim</a></td>
  <td>Delegate</td>
  <td>New Zealand</td>
  </tr><tr><td><a href="mailto:dene.beardsley@gmail.com">Dene Beardsley</a></td>
  <td>Delegate</td>
  <td>New Zealand</td>
  </tr><tr><td colspan="3" align="right"><font color="white">.</font></td>
  </tr><tr bgcolor="black"><td colspan="3"><font color="white"><b>Africa</b></font></td>
  </tr><tr><td><i><a href="mailto:donovan.speedcubesouthafrica@gmail.com">Donovan Hale</a></i></td>
  <td><i>Candidate Delegate</i></td>
  <td><i>South Africa</i></td>
  </tr></table>
</div>
