<% provide(:title, 'WCA Delegates') %>

<div class="container">
  <h1><%= yield(:title) %></h1>
  <strong>WCA Delegates</strong> are members of the WCA who are responsible for making sure that all WCA competitions are run according to the mission, regulations and spirit of the WCA. The WCA distinguishes between <strong>WCA Senior Delegates</strong>, <strong>WCA Delegates</strong> and <strong>WCA Candidate Delegates</strong>. Additional to the duties of a WCA Delegate, a WCA Senior Delegate is responsible for managing the Delegates in their area and can also be contacted by the community for regional matters. New Delegates are at first listed as WCA Candidate Delegates and need to show that they are capable of managing competitions successfully before being listed as WCA Delegates.
  </p>
  <p>
  The WCA acknowledges the following members as delegates for official WCA competitions:</p>

  <% delegate_sort_order = { region: :asc, delegate_status: :desc, name: :asc } %>

  <%= render partial: "delegates_in_region_table", locals: { delegates: @board_members.order(delegate_sort_order) } %>

  <% @senior_delegates.order(delegate_sort_order).each do |senior_delegate| %>
    <%= render partial: "delegates_in_region_table", locals: { delegates: [senior_delegate] + senior_delegate.subordinate_delegates.order(delegate_sort_order) } %>
  <% end %>

  <%= render partial: "delegates_in_region_table", locals: { delegates: @delegates_without_senior_delegates.order(delegate_sort_order) } %>
</div>
