<% provide(:title, "Disclaimer") %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <ul>
    <li>The World Cube Association (WCA) works to verify that appropriate WCA Regulations are followed for the competition portion of WCA-recognized competitions.</li>
    <li>However, all other aspects of competitions, including (but not limited to) financial matters and competition websites, are solely the responsibility of the competition organizers and not the WCA.</li>
    <li>Unless otherwise noted, sponsorship and partnership agreements are arranged with individual competition organizers and not with the WCA.</li>
    <li>Since the WCA itself does not organize competitions, we are not responsible for damage or injury incurred at WCA-recognized competitions.</li>
  </ul>
</div>
