<% provide(:title, t('education.title')) %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <p><%= t('education.description') %></p>

  <div class="list-group">
    <%= link_to icon("fas", "file-alt", t('education.competitor_tutorial')), "/edudoc/competitor-tutorial/tutorial.pdf", class: "list-group-item" %>
    <%= link_to icon("fas", "copy", t('education.competition_material')), "https://drive.google.com/drive/folders/1jrMWgOgNscPDqoxzgnEQ1bnV9D4FDzLj", class: "list-group-item" %>
  </div>
</div>
