<% provide(:title, 'WCA Logo') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <p>The WCA logo was designed by Justin Eastman, in a design contest in January 2005.<br />
  We liked the logo because of its design, the colours, and the fact that it does not specifically show a Rubik's Cube / 3x3x3 cube.</p>
  <p>We have three different versions of the logo: a <a href="/files/WCAlogo_XL.jpg">large version</a> (46 KB, 1756 px by 1068 px), a <a href="/files/WCAlogo.svg">vector version</a> and a <a href="/files/WCAlogo_notext.svg">vector version without text</a>.</p>
  <p>3D version of the logo, designed by Vu Minh Tan from Vietnam: <a href="/files/WCALogo3D.png">PNG version</a> (2.1 MB), a <a href="/files/WCALogo3Dsmall.png">small PNG version</a> (0.25 MB).</p>
  <p>All WCA competition organizers may use the WCA logo for websites, clothing, gifts or decorations, only for official WCA competitions.<br />
  For all other persons and purposes using the WCA logo requires an approval by <a href="mailto:board@worldcubeassociation.org">WCA board</a>.</p>
</div>
