<% provide(:title, 'National Organisations') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <p>The WCA acknowledges the following national organisations:</p>
  <table border="1"><tr><th>Country</th>
  <th>National organisation</th>
  </tr><tr><td>Australia</td>
  <td><a href="http://www.speedcubing.com.au" target="_blank">Speedcubing Australia</a></td>
  </tr><tr><td>Canada</td>
  <td><a href="http://www.canadiancubing.com" target="_blank">Canadian Cubing</a></td>
  </tr><tr><td>China</td>
  <td><a href="http://cubingchina.com/" target="_blank">Cubing China</a></td>
  </tr><tr><td>Denmark</td>
  <td><a href="http://speedcubing.dk" target="_blank">Dansk Speedcubing Forening</a></td>
  </tr><tr><td>Estonia</td>
  <td><a href="http://www.estonianopen.eu/eng/kontakt.php" target="_blank">Eesti Kuubik</a></td>
  </tr><tr><td>France</td>
  <td><a href="http://www.speedcubingfrance.org/" target="_blank">Association Française de Speedcubing</a></td>
  </tr><tr><td>Hong Kong</td>
  <td><a href="http://hkrcu.net" target="_blank">Hong Kong Rubik's Cube Union</a></td>
  </tr><tr><td>Indonesia</td>
  <td><a href="http://nsa.or.id/" target="_blank">Nusantara Speedcubing Association</a></td>
  </tr><tr><td>Italy</td>
  <td><a href="http://www.cubingitaly.org/" target="_blank">Cubing Italy</a></td>
  </tr><tr><td>Japan</td>
  <td><a href="http://jrca.cc/main.html" target="_blank">Japan Rubik's Cube Association</a></td>
  </tr><tr><td>Korea</td>
  <td><a href="http://kccu.co.kr/xe/" target="_blank">Korea Cube Culture United</a></td>
  </tr><tr><td>New Zealand</td>
  <td><a href="http://www.speedcubing.nz" target="_blank">Speedcubing New Zealand</a></td>
  </tr><tr><td>Philippines</td>
  <td><a href="http://www.philippinecubersassociation.org" target="_blank">Philippine Cubers Association</a></td>
  </tr><tr><td>Poland</td>
  <td><a href="http://www.kostkarubika.org" target="_blank">Polish Speedcubing Federation</a></td>
  </tr><tr><td>Russia</td>
  <td><a href="http://www.speedcubing.ru" target="_blank">Speedcubing.ru</a></td>
  </tr><tr><td>Spain</td>
  <td><a href="http://www.asociacionrubik.es" target="_blank">Asociación Española del cubo de Rubik</a></td>
  </tr><tr><td>Slovenia</td>
  <td><a href="http://www.rubik.si/" target="_blank">Rubik klub Slovenija</a></td>
  </tr><tr><td>Sweden</td>
  <td><a href="http://www.svekub.se" target="_blank">SveKub</a></td>
  </tr><tr><td>Ukraine</td>
  <td><a href="http://cubing.com.ua/" target="_blank">Cubing Ukraine</a></td>
  </tr><tr><td>United Kingdom</td>
  <td><a href="http://ukca.org/" target="_blank">UK Cube Association</a></td>
  </tr><tr><td>United States</td>
  <td><a href="http://www.cubingusa.com/" target="_blank">Cubing USA</a></td>
  </tr></table>
</div>
