<% provide(:title, t('score_tools.title')) %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <ul class="list-group">
    <% t('score_tools.paragraphs').values.each do |paragraph| %>
      <li class="list-group-item">
        <%= raw paragraph %>
      </li>
    <% end %>
  </ul>
</div>
