<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>We are really thankful for your work!</h4>
    </div>
    <div class="panel-body">
      <p>You can find the corresponding Pull Request <%= link_to "on GitHub", @pr_url %>.</p>
      <p>This sweet cat GIF is for you =)</p>
      <a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></a>
    </div>
  </div>
</div>
