<div>
  <%= search_competition %>
  <input id="competitions_search" class="wca-autocomplete wca-autocomplete-only_one wca-autocomplete-competitions_search"></input>
  <script>
    (function() {
      $('#competitions_search').wcaAutocomplete();
      $('#competitions_search')[0].selectize.on('change', function(competitionId) {
        location.href = "/competitions/" + competitionId;
      });
    })();
  </script>
</div>
