<li class="list-group-item">
  <h4 class="list-group-item-heading"><%= anchorable question, original_question.parameterize %></h4>
  <div class="list-group-item-text">
    <%= yield %>
  </div>
</li>
