<% provide(:title, 'WCA Workbook Assistant versions') %>

<div class="container">
  <h1><%= yield(:title) %></h1>
  <h2>Release Notes</h2>
  <br/>
  <h3>v2.5 (5th January 2018)</h3>
  <ul>
      <li><strong>Improvement <a href="https://github.com/thewca/wca-workbook-assistant/pull/117">#117</a></strong><br>Update event formats to match the latest regulations.
      </li>
  </ul>
  <h3>v2.4 (25th September 2017)</h3>
  <ul>
      <li><strong>Improvement <a href="https://github.com/thewca/wca-workbook-assistant/pull/116">#116</a></strong><br>Add support for multiple attempts and groups of multiple blindfolded.
          See more information <a href="https://github.com/thewca/worldcubeassociation.org/issues/1922">here</a>.</li>
  </ul>
  <h3>v2.3 (7th April 2015)</h3>
  <ul>
      <li><strong>Improvement #108</strong><br>Low severity warning for competitors without WCA IDs who match someone's name and country in the database. Low severity warning also given for competitors who are younger than 5 or older than 90.</li>
  </ul>
  <h3>v2.2 (29th March 2015)</h3>
  <ul>
      <li><strong>Bug fix #107</strong><br>The database export download now uses HTTPS, as required by the WCA website.</li>
  </ul>
  <h3>v2.1 (19th March 2015)</h3>
  <ul>
      <li><strong>Improvement #67</strong><br>The validation now checks for common mistakes in the spelling of names.</li>
      <li><strong>Improvement #68</strong><br>The validation now checks that the naming of the rounds is in line with the naming used on the WCA website.</li>
      <li><strong>Improvement #94</strong><br>Database exports that became corrupted while downloading are handled better and are simply ignored.</li>
      <li><strong>Improvement #95</strong><br>The JSON export has been simplified by removing the JSON preview window.</li>
      <li><strong>Improvement #96</strong><br>The name of the exported JSON file now starts with "Results for " so that it does not get mixed up with the TNoodle scrambles.</li>
      <li><strong>Bug fix #97</strong><br>The validation now checks that the country entered for new members exists in the WCA database.</li>
      <li><strong>Improvement #99</strong><br>The validation now checks that the times of multiple blindfolded results are reasonable.</li>
      <li><strong>Improvement #100</strong><br>The competition ID can now be selected from a list of recent competitions instead of having to enter it manually.</li>
      <li><strong>Improvement #101</strong><br>The ISO country codes are now retrieved from the WCA database export instead of separate resource file.</li>
  </ul>
  <h3>v2.0 (15th March 2014)</h3>
  <ul>
      <li><strong>Improvement/bug fix #69, #73, #74, #75, #76, #77, #79, #80 and #92</strong><br>TNoodle scrambles can be attached to the results.</li>
      <li><strong>Improvement/bug fix #48, #70, #72, #88 and #89</strong><br>Exporting results to JSON is now the main output format and follows version 0.2 of the competition JSON exchange format.</li>
      <li><strong>Improvement #40 and #90</strong><br>The validation and now checks that cutoff rounds are actually combined.</li>
      <li><strong>Improvement #87</strong><br>All file choosers start from the same working directory.</li>
  </ul>
  <h3>v1.4.1 (15th January 2014)</h3>
  <ul>
      <li><strong>Bug fix #66</strong><br>Means of 3 for 3x3x3 blindfolded are now calculated correctly if there are less than 3 results.</li>
  </ul>
  <h3>v1.4 (4th January 2014)</h3>
  <ul>
      <li><strong>Improvement #61</strong><br>Skewb is now recognized as an event.</li>
      <li><strong>Improvement #62</strong><br>The validation now checks that 1 solved cube out of 2 tried cubes is a DNF for multiple blindfolded.</li>
      <li><strong>Improvement #63</strong><br>Mean of 3 rounds for FMC are now handled correctly.</li>
      <li><strong>Improvement #64</strong><br>Mean of 3 results for best of 3 rounds for 3x3x3 blindfolded are now recognized.</li>
      <li><strong>Improvement #65</strong><br>The validation now checks that only the permitted round formats are used.</li>
  </ul>
  <h3>v1.3 (31st October 2013)</h3>
  <ul>
      <li><strong>Bug fix #45</strong><br>The validation and parsing of dates of birth has been fixed to prevent wrong dates of birth in the database.</li>
      <li><strong>Bug fix #57</strong><br>The application didn't always use the most recently downloaded WCA database export. This has now been fixed.</li>
      <li><strong>Improvement #56</strong><br>The validation now checks the time limit for multiple blindfolded rounds.</li>
      <li><strong>Improvement #55</strong><br>The name of application has been changed to WCA Workbook Assistant.</li>
      <li><strong>Improvement #54</strong><br>Upgraded to Apache POI 3.9.</li>
  </ul>
  <h3>v1.2.1 (7th September 2013)</h3>
  <ul>
      <li><strong>Bug #51</strong><br>Detecting whether the WCA database export has to be updated failed if the export counter passed 999. This has now been fixed.</li>
  </ul>
  <h3>v1.2 (1st September 2013)</h3>
  <ul>
      <li><strong>Improvement #46</strong><br>The validation now also checks that persons in the registrations sheet are distinguishable from each other.</li>
      <li><strong>Improvement #47</strong><br>The validation now also checks that each result can be linked to a person in the registration sheet.</li>
      <li><strong>Improvement #49</strong><br>The validation now also checks that persons inside one round are distinguishable from each other.</li>
  </ul>
  <h3>v1.1.1 (23rd April 2013)</h3>
  <ul>
      <li><strong>Bug fix #42</strong><br>Updating the WCA database export didn't work if no database export was downloaded previously. This has now been fixed.</li>
      <li><strong>Bug fix #43</strong><br>Rows with only DNS results where not always reported as a validation error in cutoff rounds. This has now been fixed.</li>
  </ul>
  <h3>v1.1 (16th April 2013)</h3>
  <ul>
      <li><strong>Improvement #37</strong><br>The validation now also checks for wrongly sorted results.</li>
      <li><strong>Improvement #38</strong><br>The validation now also checks for wrongly calculated positions.</li>
      <li><strong>Improvement #12</strong><br>The validation now also checks for wrongly calculated multiple blindfolded scores.</li>
      <li><strong>Improvement #9</strong><br>The validation now also checks for rows with only DNS results.</li>
      <li><strong>Improvement #39</strong><br>Mistakes in names and countries no longer prevent the user from generating database scripts. This is useful when the name or country in the database is wrong.</li>
      <li><strong>Improvement #41</strong><br>The WCA database export can be downloaded directly from the application and the application automatically checks for updates to the database export on startup.</li>
      <li><strong>Bug fix #24</strong><br>Sheets in seconds were sometimes recognized as numbers if the first result happened to be a whole number. This has now been fixed.</li>
  </ul>
  <h3>v1.0 (13th January 2013)</h3>
  <ul>
      <li><strong>Bug fix #15</strong><br>The validation now checks that all results in a sheet have the expected result format.</li>
      <li><strong>Improvement #7</strong><br>Results can now be exported to JSON for automated uploading.</li>
      <li><strong>Improvement #8</strong><br>The validation now also checks WCA ID's and names based on WCA database exports.</li>
      <li><strong>Improvement #26</strong><br>The validation now also checks for invisible 3rd digits after the decimal point.</li>
      <li><strong>Improvement #30</strong><br>The validation now also checks for duplicate event/round combinations.</li>
      <li><strong>Improvement #32</strong><br>Validation errors now refer to the cell address instead of just the row number.</li>
      <li><strong>Improvement #33</strong><br>Validation errors are now displayed in a table instead of a flat list.</li>
      <li><strong>Improvement #36</strong><br>Validation errors panel now has an option to show all errors in all sheets.</li>
      <li><strong>Improvement #34 and #35</strong><br>Better window icons.</li>
  </ul>
  <h3>v0.3 (2nd December 2012)</h3>
  <ul>
      <li><strong>Bug fix #13</strong><br>The validation kept validating results when the result format was invalid, leading to misleading validation errors. This is now fixed.</li>
      <li><strong>Bug fix #17</strong><br>The Sheets contents pane sometimes didn't show the best and average results. This is now fixed.</li>
      <li><strong>Bug fix #22</strong><br>The recognition of the result format for multiple blindfolded was sometimes incorrect if the round had only DNF results. This is now fixed.</li>
      <li><strong>Bug fix #25</strong><br>Workbooks that contained cell formats with Locale information didn't always open properly. This is now fixed.</li>
      <li><strong>Improvement #6</strong><br>The Persons query now only updates persons who competed in the uploaded competition.</li>
      <li><strong>Improvement #27</strong><br>The Persons query now also returns the persons who still have a missing date of birth or gender.</li>
  </ul>
  <h3>v0.2 (29th October 2012)</h3>
  <ul>
      <li><strong>Bug fix #2</strong><br>The workbook file used to be locked by the application under Windows, which prevented making changes using Excel and refreshing from the application. This is now fixed.</li>
      <li><strong>Bug fix #5</strong><br>The validation didn't check that non-empty results are formatted correctly for cutoff rounds. This is now fixed.</li>
      <li><strong>Improvement #3</strong><br>The validation now also checks for wrongly calculated best and average results.</li>
      <li><strong>Improvement #4</strong><br>The validation now also checks for rounding of times >10 minutes.</li>
  </ul>
  <h3>v0.1 (21st August 2012)</h3>
  <ul>
      <li>Initial release</li>
  </ul>
</div>
