<% provide(:title, 'Wiki') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <div class="wiki-pages">
    <ul class="list-unstyled">
      <% @wiki_pages.each do |wiki_page| %>
        <li><%= link_to wiki_page.title, wiki_page_path(wiki_page) %></li>
      <% end %>
    </ul>
  </div>

  <%= link_to icon(:plus, "New page"), new_wiki_page_path, class: "btn btn-primary" %>
</div>
