<%= f.input :unconfirmed_wca_id, label: t('common.user.wca_id'), as: :user_ids, persons_table: true, only_one: true %>

<%= f.input :dob_verification, as: :date_picker %>

<div id="select-nearby-delegate-area">
  <%= render "users/select_nearby_delegate" %>
</div>

<script>
  $(function() {
    var $dobArea = $("div.user_dob_verification");
    var $unconfirmed_wca_id = $("#user_unconfirmed_wca_id");
    var $submitButton = $("#claim-wca-id-button");
    $unconfirmed_wca_id.wcaAutocomplete();
    var unconfirmed_wca_id_selectize = $unconfirmed_wca_id[0].selectize;

    function clearExtraInfo() {
      $submitButton.prop("disabled", true);
      $dobArea.toggle(false);
    }
    clearExtraInfo();

    var addListenerToDelegateSearch = function() {
      var $delegateSearch = $('#nearby-delegate-search');
      var selectize = $delegateSearch[0].selectize;
      var $radioInput = $delegateSearch.siblings('input');
      selectize.on("focus", function(e) {
        $radioInput.prop('checked', true);
      });
      selectize.on("change", function(value) {
        $radioInput.val(value);
        $submitButton.prop("disabled", false);
      });
    };

    var onUnconfirmedWcaId = function(unconfirmed_wca_id) {
      clearExtraInfo();

      window.wca.cancelPendingAjaxAndAjax('render_select_nearby_delegate', {
        url: '<%= profile_claim_wca_id_select_nearby_delegate_path %>',
        data: {
          'user[unconfirmed_wca_id]': unconfirmed_wca_id,
        },
        success: function(data) {
          $('#select-nearby-delegate-area').html(data);

          var $delegateSearch = $('#nearby-delegate-search');
          if($delegateSearch.length > 0) {
            $delegateSearch.wcaAutocomplete();
            addListenerToDelegateSearch();
          }
        }
      });
    };
    unconfirmed_wca_id_selectize.on("change", onUnconfirmedWcaId);
    if($('[name="user[delegate_id_to_handle_wca_id_claim]"]:checked').val()) {
      $submitButton.prop("disabled", false);
    }
    if(unconfirmed_wca_id_selectize.items.length > 0) {
      addListenerToDelegateSearch();
      $dobArea.toggle(true);
    }

    $("form.edit_user").on("change", 'input[type="radio"]', function(e) {
      var selectedDelgateId = e.currentTarget.value;
      $submitButton.prop("disabled", !selectedDelgateId);
    });
  });
</script>
