<% pending_avatar = defined? @pending_avatar %>
<% avatar_sym = pending_avatar ? :pending_avatar : :avatar %>

<% provide(:title, (pending_avatar ? "Pending " : "") + "Avatar Thumbnail | #{@user.name}") %>

<div class="container">
  <%= react_component("EditAvatar", {
    user: @user,
    pending: @pending_avatar,
    cdnWarning: t('.cdn_warning'),
    cdnExplanation: t('.cdn_explanation'),
  }) %>
</div>
