<% provide(:title, 'Users') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to "#{user.name} (#{user.email})", edit_user_path(user, from_page: params[:page]) %>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @users %>
</div>
