<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions') %></h4>
    </div>
    <div class="panel-body">
      <%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, role: "form" }) do |f| %>
        <%= f.input :email, autofocus: true  %>

        <%= f.submit t('.resend_confirmation_instructions'), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
