[submodule "translations"]
	path = translations
	url = https://github.com/cubing/wca-regulations-translations
[submodule "wca-regulations"]
	path = wca-regulations
	url = https://github.com/cubing/wca-regulations.git
