.htaccess

admin/.htaccess
admin/.htpasswd
admin/export/serial.txt

cache/*.cache

dev/.htaccess
dev/test_files/*

generated/*

includes/_config.php

misc/*.zip
misc/age_vs_speed.html
misc/age_vs_speed/*.png
misc/evolution/charts_data.js
misc/evolution/index.php
misc/export.html
misc/missing_averages/index.php

upload/*

zzz*
