x-environment: &env
  RAILS_ENV: development
  DATABASE_HOST: wca_db
  BUNDLE_PATH: /usr/local/bundle/current

x-app: &app
  build:
    dockerfile: Dockerfile.dev
    context: .
  working_dir: /app
  entrypoint: ./entrypoint.dev.sh
  environment:
    <<: *env
  volumes:
    - .:/app
    - gems_volume:/usr/local/bundle
    - node_modules_volume:/app/node_modules
  networks:
    - wca-main

x-app-environment: &appEnv
  <<: *env
  SIDEKIQ_REDIS_URL: redis://wca_redis:6379/1
  ACTIONCABLE_REDIS_URL: redis://wca_redis:6379/2
  MAILCATCHER_SMTP_HOST: wca_mailcatcher

services:
  wca_environment:
    <<: *app
    container_name: "environment"
    environment:
      <<: *env
      DISABLE_SPRING: 1
    command: >
      bash -c './package-install.dev.sh packages.dev.txt &&
      rm -f .db-inited &&
      bin/setup &&
      touch .db-inited'
    healthcheck:
      test: [ "CMD", "test", "-f", ".db-inited" ]
      interval: 5s
      timeout: 2s
      retries: 20
      # Give the container some time to populate the database
      start_period: 15m
    # Tell Docker that it's okay and expected that this container terminates (with exit code 0)
    #   after completing the script listed under `command` above
    restart: no
    depends_on:
      wca_db:
        condition: "service_healthy"
      wca_redis:
        condition: "service_started"

  wca_on_rails:
    <<: *app
    container_name: "rails"
    ports:
      - "3000:3000"
    environment:
      <<: *appEnv
      SHAKAPACKER_DEV_SERVER_HOST: wca_webpacker
      CACHE_REDIS_URL: redis://wca_redis:6379/0
      RUNNING_IN_DOCKER: true
    tty: true
    # Start the server and bind to 0.0.0.0 (vs 127.0.0.1) so Docker's port mappings work correctly
    command: bin/dev -b 0.0.0.0
    depends_on:
      wca_environment:
        condition: service_completed_successfully

  wca_nextjs:
    build:
      dockerfile: Dockerfile.dev
      context: .
    container_name: "nextjs"
    environment:
      PORT: 3001
    ports:
      - "3001:3001"
    working_dir: /app
    command: >
      bash -c 'corepack install && yarn install &&
      yarn run dev'
    volumes:
      - ./next-frontend:/app
      - ./lib/static_data:/app/src/lib/staticData
      - ./config/locales/available.json:/app/src/lib/i18n/locales/available.json
      - next_yarn_volume:/app/node_modules
    networks:
      - wca-main

  wca_payload_db:
    image: mongo:8
    container_name: "payload_db"
    command:
      - --quiet
      - --logpath
      - /var/log/mongodb/mongod.log
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: payload
    ports:
      - "27017:27017"
    networks:
      - wca-main

  wca_webpacker:
    <<: *app
    container_name: "webpacker"
    ports:
      - "3035:3035"
    environment:
      <<: *appEnv
      SHAKAPACKER_DEV_SERVER_HOST: 0.0.0.0
    command: bin/shakapacker-dev-server
    depends_on:
      wca_environment:
        # We need to make sure that the database is populated because our frontend code
        # pulls stuff like WCA Events and Round formats from the DB when compiling assets
        condition: service_completed_successfully

  wca_mailcatcher:
    <<: *app
    container_name: "mailcatcher"
    expose:
      - "1025"
    ports:
      - "1080:1080"
    command: >
      bash -c 'gem install mailcatcher &&
      mailcatcher --foreground --ip=0.0.0.0'

  wca_sidekiq:
    <<: *app
    container_name: "sidekiq"
    environment:
      <<: *appEnv
      # Cronjobs are disabled in development by default. If you wish to run cronjobs,
      # set this env variable to any integer value greater than zero
      # CRONJOB_POLLING_MINUTES: 30
    command: bin/sidekiq
    depends_on:
      wca_environment:
        condition: service_completed_successfully

  wca_db:
    # You will have to run docker exec -it database mysql to connect to the database and then
    # ALTER USER 'root'@'%' IDENTIFIED WITH caching_sha2_password BY '';
    # To upgrade your DB from mysql8.0 to mysql8.4
    image: mysql:8.4
    container_name: "database"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "true"
    command: --mysql-native-password=ON
    ports:
      - "3306:3306"
    volumes:
      - wca_db_volume:/var/lib/mysql
      - ./docker/my.cnf:/etc/my.cnf
    # Suppress unneeded messages via https://stackoverflow.com/a/55706057/2558618
    cap_add:
      - SYS_NICE
    networks:
      - wca-main
    healthcheck:
      test: [ "CMD", "mysql", "-u", "root", "-e", "SELECT 1;" ]
      interval: 5s
      timeout: 5s
      retries: 20

  wca_redis:
    image: redis:7.0-alpine
    container_name: "redis-main"
    ports:
      - "6379:6379"
    command: redis-server --loglevel warning
    volumes:
      - cache_volume:/data
    networks:
      - wca-main

  wca_playwright:
    image: mcr.microsoft.com/playwright:v1.57.0
    container_name: "playwright"
    extra_hosts:
      - "hostmachine:host-gateway"
    # The following options `ipc`, `cap_add` and `init` are per Playwright's documentation: https://playwright.dev/docs/ci#docker
    ipc: "host"
    cap_add:
      - SYS_ADMIN
    init: true
    environment:
      - DEBIAN_FRONTEND=noninteractive
      - DEBUG=pw:api
      - DISPLAY=$DISPLAY
      - SYSTEM_TEST_BASE_URL=http://wca_nextjs:3001
    ports:
      - "8089:8089"
    working_dir: /app
    command: >
      bash -c 'corepack enable &&
      ./package-install.dev.sh fonts.pdf.txt &&
      fc-cache -f -v &&
      yarn install &&
      yarn playwright run-server --port 8089 --host=0.0.0.0'
    volumes:
      - .:/app
      - node_modules_volume:/app/node_modules
      - pdf_fonts_volume:/usr/share/fonts
      # If you want to run tests in debug mode with a visible browser, you have to expose an X11 socket to Playwright
      #   under `/tmp/.X11-unix` within the container. Chances are high that the original X11 socket on the host machine
      #   lives in that exact same folder, but it's hard to be sure with all the different OSes that we want to support.
      # Please enable the following mount at your own risk.
      # You also have to make sure the owner's user ID matches the container's user ID to avoid X11 rendering glitches.
      #  - /tmp/.X11-unix:/tmp/.X11-unix:rw
    networks:
      - wca-main

volumes:
  gems_volume:
    driver: local
  node_modules_volume:
    driver: local
  wca_db_volume:
    driver: local
  cache_volume:
    driver: local
  next_yarn_volume:
    driver: local
  pdf_fonts_volume:
    driver: local

networks:
  wca-main:
    name: wca-main
