body {
  margin: 15px;
  padding: 0;
  background: #FFF;
  color: #333;
}

body, td, th {
  /* xfont-size: 90%; */
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

ul {
  margin: 1em;
  padding: 0;
  list-style: none;
}

li {
  line-height: 15px;
  padding-left: 15px;
  padding-top: 0px;
  background-image: url(images/arrow.png) ;
  background-repeat: no-repeat;
  background-position: 0px 3px;
}

form {
  margin: 0;
  padding: 0;
}

.clr {
  clear: both;
}

#main {
  text-align: center;
  margin: 0 auto;
}

#content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #CCC;
  background: #FFF;
  padding: 2px;
  text-align: left;
}

#header {
  margin: 0;
  padding: 40px 0 0 105px;
  height: 65px;
  background: url(images/logo.gif) no-repeat;
  text-align: left;
  vertical-align: middle;
  color: orange;
  font-size: 1.25em; /* 20px; */
  font-weight: bold;
  
}

#rmenu {
  float: right;
  margin: 0;
  padding: 0;
  border: 0;
  width: 150px;
}

#rimenu {
  border: 1px solid #CCC;
  padding: 2px;
  margin: 0;
}

#choices .space {
  font-size:   0.75em;
  font-weight: bold;
  padding: 2px 8px 0 0;
}

#choices {
  padding-left: 10px;
}

table td.body_outer {
  padding: 2px;
  border: 1px solid #CCC;
}

.back_button {
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8em;
  font-weight: bold;
  border: double;
  border-color: #CCC;
  width: auto;
  padding: 0 3px;
  line-height: 16px;
  margin: 1px;
  
  /* background gradient */
  background: #f0f0f0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGQ4ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f0f0f0 0%, #d8d8d8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#d8d8d8));
  background: -webkit-linear-gradient(top, #f0f0f0 0%,#d8d8d8 100%);
  background: -o-linear-gradient(top, #f0f0f0 0%,#d8d8d8 100%);
  background: -ms-linear-gradient(top, #f0f0f0 0%,#d8d8d8 100%);
  background: linear-gradient(to bottom, #f0f0f0 0%,#d8d8d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#d8d8d8',GradientType=0 );
}

.buttborder {
  border: 3.4px double #CCC;
  margin: 1px;
  padding: 0;
}

input::-moz-focus-inner {
	/* center button text in ff */
	border: 0;
	padding: 0;
}

.butt {
  color: #A40;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  width: auto;
  border: 0;
  padding: 0 2px;
  margin: 0;
  line-height: 20px;
  height: 20px;
  font-size: 1em;
  
  /* background gradient */
  background: #f0f0f0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGQ4ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f0f0f0 0%, #d8d8d8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#d8d8d8));
  background: -webkit-linear-gradient(top, #f0f0f0 0%,#d8d8d8 100%);
  background: -o-linear-gradient(top, #f0f0f0 0%,#d8d8d8 100%);
  background: -ms-linear-gradient(top, #f0f0f0 0%,#d8d8d8 100%);
  background: linear-gradient(to bottom, #f0f0f0 0%,#d8d8d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#d8d8d8',GradientType=0 );
}

.chosenButton {
  color: #F60;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  width: auto;
  border: 0;
  padding: 0 2px;
  margin: 0;
  line-height: 20px;
  height: 20px;
  font-size: 1em;
  
  /* background gradient */
  background: #eeeeee;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmQ2ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #d6d6d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d6d6d6));
  background: -webkit-linear-gradient(top, #ffffff 0%,#d6d6d6 100%);
  background: -o-linear-gradient(top, #ffffff 0%,#d6d6d6 100%);
  background: -ms-linear-gradient(top, #ffffff 0%,#d6d6d6 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#d6d6d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 );
}

.drop {
  color: #F60;
  background-color: #EEE;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.butt2 {
  color: #F60;
  background-color: #EEE;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.inputbox {
  padding: 2px;
  border: 1px solid #CCC;
  background-color: #FFF;
  font-size: 1em;
}

h1, h2, h3, table caption, .caption {
  text-align: center;
  padding: 0;
  margin: 0em 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #A20;
}

h2 {
  margin: 0.8em 0;
  font-size: 0.9em;
}

h3 {
  text-align: left;
  margin: 0.8em 0 0.2em 0;
  font-size: 0.8em;
}

dt, dd {
  text-align: left;
  margin: 0;
}

dt {
  padding: 5px 0 0 5px;
  font-size: 0.8em;
  color: #A20;
}

dd {
  padding: 0 0 0 22px;
  font-size: 0.8em;
  color: #333;
  font-weight: bold;
}

.errorMessage {
  font-size: 2em;
  color:     #F00;
  text-align: center;
}

.subtitle {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: center;
}

img {
  border: 0px;
}

img.person {
  max-width:  600px;
  max-height: 300px;
}

div:target {
  border-left: 5px solid #0C0;
  padding-left: 5px;
}
