body {
  /*margin: 15px;*/
  padding: 0;
  background: #FFF;
  color: #333;
}

body, td, th {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

ul {
  margin: 1em;
  padding: 0;
  list-style: none;
}

/*li {
  line-height: 15px;
  padding-left: 15px;
  padding-top: 0px;
  background-image: url('images/arrow.png');
  background-repeat: no-repeat;
  background-position: 0px 3px;
}*/

.clr {
  clear: both;
}

#main {
  text-align: center;
  margin: 25px auto;
}

#content {
  margin-left: auto;
  margin-right: auto;
  /*border: 1px solid #CCC;*/
  background: #FFF;
  padding: 2px;
  text-align: left;
}

#index-indent {
  width: 85%;
  margin: 0 auto;
  font-size: 1.3em;
}

#header {
  margin: 0;
  padding: 40px 0 0 105px;
  height: 65px;
  background: url('images/logo.gif') no-repeat;
  text-align: left;
  vertical-align: middle;
  color: orange;
  font-size: 1.25em;
  font-weight: bold;
}

#rmenu {
  float: right;
  margin: 0;
  padding: 0;
  border: 0;
  width: 150px;
}

#rimenu {
  border: 1px solid #CCC;
  padding: 2px;
  margin: 0;
}

#choices .space {
  font-size:   0.75em;
  font-weight: bold;
  padding: 2px 8px 0 0;
}

#choices {
  padding-left: 10px;
}

#choices select,
#choices input {
   /*margin-top: 2px;*/
}

table td.body_outer   {
  padding: 2px;
  border: 1px solid #CCC;
}

.back_button {
  float: left;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8em;
  font-weight: bold;
  border: double;
  border-color: #CCC;
  width: auto;
  padding: 0 3px;
  line-height: 16px;
  margin: 1px;
  
  /* background gradient */
  background: #f0f0f0;
}

.buttborder {
  border: 3.4px double #CCC;
  margin: -6px 0 0;
  padding: 0;
}

input::-moz-focus-inner {
  /* center button text in ff */
  border: 0;
  padding: 0;
}

form.form-inline input {
  height: 24px;
}

form.form-inline .form-group {
  margin-bottom: 2px;
}

.butt {
  color: #A40;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  width: auto;
  border: 3.4px double #CCC;
  padding: 0 2px;
  margin: 0;
  line-height: 20px;
  height: 24px;
  font-size: 1em;
  
  /* background gradient */
  background: #f0f0f0;
}

.chosenButton {
  color: #F60;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  width: auto;
  border: 3.4px double #CCC;
  padding: 0 2px;
  margin: 0;
  line-height: 20px;
  height: 24px;
  font-size: 1em;
  
  /* background gradient */
  background: #eeeeee;
}

.drop {
  color: #F60;
  background-color: #EEE;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

@media (max-width: 480px) {
  form.form-inline label {
    display: inline;
  }
  form.form-inline input[type="text"], form.form-inline select {
    width: 100%;
  }
}

.butt2 {
  color: #F60;
  background-color: #EEE;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.inputbox {
  padding: 2px;
  border: 1px solid #CCC;
  background-color: #FFF;
  font-size: 1em;
}

h1, h2, h3, table caption, .caption {
  text-align: center;
  padding: 0;
  margin: 0em 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #A20;
}

h2 {
  margin: 0.8em 0;
  font-size: 0.9em;
}

h3 {
  text-align: left;
  margin: 0.8em 0 0.2em 0;
  font-size: 0.8em;
}

dt, dd {
  text-align: left;
  margin: 0;
}

dt {
  padding: 5px 0 0 5px;
  font-size: 0.8em;
  color: #A20;
}

dd {
  padding: 0 0 0 22px;
  font-size: 0.8em;
  color: #333;
  font-weight: bold;
}

.errorMessage {
  font-size: 2em;
  color:     #F00;
  text-align: center;
}

.subtitle {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: center;
}

img {
  border: 0px;
}

img.person {
  max-width:  600px;
  max-height: 300px;
}

div:target {
  border-left: 5px solid #0C0;
  padding-left: 5px;
}

/* notice boxes */

div .notice {
  width: 90%;
  margin: 5px auto;
  padding: 10px 5px;
  border: 3px solid #777;
  color: #000;
  background-color: #EEE;
  font-weight: bold;
}

div .notice.failure {
  border-color: #C00;
  color: #C00;
  background-color: #FEE;
}

div .notice.warning {
  border-color: #DB0;
  color: #DB0;
  background-color: #FF8; 
}

div .notice.success {
  border-color: #3C3;
  color: #3C3;
  background-color: #DFD;
}

div .notice p, div.notice ul {
  margin: 5px 10px;
}

/* form elements */
form {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 10px 15px;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #EEE;
  padding: 10px;
}

fieldset legend {
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #F2F2F2;
  padding: 2px 4px;
  font-style: italic;
  font-size: 0.8em;
}

input[error], select[error] {
  border: 1px solid #C00;
  background-color: #FEE;
}

.form-element-wrapper {
  display: block;
  float: left;
  overflow: hidden;
  clear: both;
}

.form-element-wrapper label {
  display: block;
  float: left;
  text-align: right;
  margin: 4px 10px 4px 0;
  width: 200px;
}

.form-element-radio-option {
  display: block;
  overflow: hidden;
}

/* selectify styles */
.selectize-control {
  width: 400px;
}

.wca-selectify-label {
  font-weight: normal;
  font-size: 0.95em;
}
.wca-selectify-caption {
  font-weight: normal;
  font-size: 0.85em;
}


/* specific form styles - photo submission */
form#photo-submissions div.form-element-wrapper {
  display: inline;
  float: none;
}

form#photo-submissions .form-element-wrapper label {
  display: inline;
  float: none;
  margin-left: 20px;
  margin-right: 0;
}

/* specific form styles - photo approval */
form#photo-submission-approval .titled-image {
  display: block;
  text-align: center;
  float: left;
  clear: none;
  margin: 0 1.2em 1.2em 0;
}

form#photo-submission-approval .titled-image img {
  height: 150px;
  width: auto;
  border: 2px dashed blue;
}

form#photo-submission-approval .titled-image-title {
  display: block;
  clear: both;
  text-align: center;
}

form#photo-submission-approval .form-element-radio-option label {
  width: 100px;
  margin-top: 0;
}

form#photo-submission-approval .form-element-wrapper .form-element-radio-option {
  margin: 20px 15px 0 0;
  color: #090;
}
form#photo-submission-approval .form-element-wrapper .form-element-radio-option
  + .form-element-radio-option {
  color: #900;
}
form#photo-submission-approval .form-element-wrapper .form-element-radio-option
  + .form-element-radio-option + .form-element-radio-option {
  color: #A90;
}

/* specific form styles - 'choices' form */

form.choices_form .form-element-wrapper {
  display: block;
  float: left;
  overflow: hidden;
  clear: none;
}
form.choices_form .form-element-wrapper label {
  display: block;
  float: left;
  text-align: left;
  font-size: 0.75em;
  font-weight: bold;
  padding: 4px 0 3px 0;
  margin: 0;
  width: auto;
  line-height: 0.75em;
}
form.choices_form .form-element-wrapper .form-element {
  display: block;
  float: left;
  clear: both;
  margin: 2px 0;
} 

form.choices_form .form-element-wrapper #form-element-submit {
  display: block;
  border: 3.4px double #CCC;
  font-size: 12px;
  margin: 14px 0 0 8px;
  height: 26px;
  padding: 0px 3px;
}

.table-responsive {
  border: none;
}