/* ---------- general ---------- */

a:link, a:visited, a:active {
  color: #F60;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #C30;
  text-decoration: none;
  font-weight: bold;
}

.whiteLink {
  color: #FFF;
  font-weight: bold;
}


/* ---------- competition ---------- */

a.c:link, a.c:visited, a.c:active { color: #33F; }
a.c:hover                         { color: #229; }

/* ---------- future competition --- */

a.fc:link, a.fc:visited, a.fc:active { color: #C6F; }
a.fc:hover                           { color: #94C; }

/* ---------- competition with reg - */

a.rg:link, a.rg:visited, a.rg:active { color: #936; }
a.rg:hover                           { color: #714; }

/* ---------- person --------------- */

a.p:link, a.p:visited, a.p:active { color: #F60; }
a.p:hover                         { color: #C30; }
a.p span                          { color: #A20; font-weight: normal; }

/* ---------- event ---------------- */

a.e:link, a.e:visited, a.e:active { color: #3A3; }
a.e:hover                         { color: #262; }

/* ---------- event (internal) ---------- */

a.internalEvent:link, a.internalEvent:visited, a.internalEvent:active { color: #0AA; }
a.internalEvent:hover                                                 { color: #077; }


/* ---------- external ---------- */

a.external:link, a.external:visited, a.external:active {
  color: #66F;
}

a.external:hover {
  color: #449;
}

/* ---------- email ---------- */

a.email:link, a.email:visited, a.email:active {
  color: #66F;
}

a.email:hover {
  color: #449;
}

/* ---------- emptyLink ---------- */

.emptyLink {
  font-weight: bold;
}
