#pageMenuFrame2 {
  float:   right;
  margin:  0;
  padding: 0;
  border:  0;
}

#pageMenu2 {
  border:  1px solid #CCC;
  padding: 2px;
  margin:  0;
}

#activePage {
  color:       #FC0;
  font-weight: bold;
}

a#activePage:hover {
  color: #E15704;
}

div.item {
  overflow: hidden;
  background: url(images/menu_bg.png) 0% -25px no-repeat;
}

div.item a,
div.item a:link,
div.item a:visited {
  display:         block;
  background:      url(images/menu_bg.png) 0% 0% no-repeat;
  vertical-align:  middle;
  font-size:       0.9em;
  font-weight:     bold;
  color:           #FFF;
  text-align:      left;
  padding-left:    18px;
  padding-right:   10px;
  height:          25px;
  line-height:     25px;
  text-decoration: none;
}

div.item a:hover {
  background-image: none;
  color: #333;
}

div.item a:active {
  color: #000;
}
