#competitionDetails {
  margin: 20px 0 20px 0;
  font-size: 0.85em;
}

#competitionDetails .key {
  padding:        0px 10px 0 10px;
  font-weight:    bold;
  vertical-align: top;
  white-space:    nowrap;
}

#competitionDetails .sub {
  padding:        0px 10px 0 30px;
  font-weight:    bold;
  color:          #CCC;
  vertical-align: top;
  white-space:    nowrap;
}

#competitionDetails .choice {
  padding:        0px 10px 0 10px;
  font-weight:    bold;
  vertical-align: middle;
  white-space:    nowrap;
}

/* ------------------------------------------------------ */

table.results caption {
  text-align: left;
  padding:    0.8em 0 0.2em 0;
  margin:     0;
  font-size:  0.85em;
}

.results .caption {
  text-align: left;
  padding:    0.2em 0 0.2em 5px;
  margin:     0;
  font-size:  0.85em;
}

table.results {
  width:   100%;
  margin:  5px 0 5px 0;
  padding: 0;
}

table.results th {
  white-space:    nowrap;
  color:          #666;
  text-align:     left;
  vertical-align: middle;
  padding:        0 7px 0 7px;
  height:         17px;
  line-height:    17px;
  font-weight:    bold;
  font-size:      0.75em;
  width:          auto;
  min-height:     15px;
  
  /* forces border to show in IE (gradient hides, otherwise) */
  position: relative;
  z-index: 1;
  
  /* background gradient */
  background: #f2f2f2;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNGQ0ZDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f2f2f2 0%, #d4d4d4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#d4d4d4));
  background: -webkit-linear-gradient(top, #f2f2f2 0%,#d4d4d4 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%,#d4d4d4 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%,#d4d4d4 100%);
  background: linear-gradient(to bottom, #f2f2f2 0%,#d4d4d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#d4d4d4',GradientType=0 );
  border-top: 1px solid #C3C3C3;
  border-bottom: 1px solid #C3C3C3;
}

.results th.f { width: 90% }

.results td {
  font-size:   0.75em;
  padding:     0 7px 0 7px;
  margin:      0;
  white-space: nowrap;
  min-height:  16px;
  vertical-align: middle;
}

.results td.r, .results th.r { text-align: right  }    /* stands for 'right-aligned' */
.results td.l, .results th.l { text-align: left   }    /* stands for 'left-aligned' */
.results td.c, .results th.c { text-align: center }    /* stands for 'centered' */

.results td.R, .results th.R {
  text-align:  right;
  font-weight: bold;
  padding: 0 0 0 7px;
}

.results td.R2, .results th.R2 {
  text-align:  right;
  font-weight: bold;
}

.results td.L, .results th.L {
  text-align:  left;
  font-weight: bold;
}

.results tr   { background-color: #FFF }
.results tr.e { background-color: #EEE }   /* stands for 'even' */

/* ------------------------------------------------------ */

table.prereg {
  padding:    5px;
  margin:     auto auto 20px auto;
  font-size:  0.85em;
}

.prereg td {
  border: 1px solid #CCC;
  padding: 3px;
  background: #EEF;
  vertical-align: top;
}

.prereg input, .prereg select, .prereg textarea {
  background-color: #FF9;
}
