<% provide(:title, "Results submission") %>

<%= render layout: 'nav' do %>
  <h1><%= yield(:title) %></h1>

  <%= react_component("CompetitionResultSubmission", {
    competitionId: @competition.id,
    resultsSubmitted: @competition.results_submitted?,
    alreadyHasSubmittedResult: @competition.inbox_results.present?,
    canSubmitResults: @current_user.can_submit_competition_results?(@competition),
  }) %>
<% end %>
