<% provide(:title, "Newcomer Checks") %>

<%= render layout: 'nav' do %>
  <h1><%= yield(:title) %></h1>

  <%= react_component("NewcomerChecks", {
    competitionId: @competition.id,
  }) %>

<% end %>
