<%
  # expects a variable "f" as simple_form helper.

  money_amount ||= @registration.entry_fee

  label ||= t('registrations.payment_form.labels.entry_fees')

  hint ||= ""
  hint_context ||= ""

  hint_html_context = hint_context.blank? ? nil : { class: "text-#{hint_context} bg-#{hint_context}" }
%>

<% if money_amount %>
  <%= f.input :entry_fees, label: label, hint: hint, hint_html: hint_html_context do %>
    <p class="form-control-static"><%= format_money(money_amount) %></p>
  <% end %>
<% end %>
