<%
  label ||= t('registrations.payment_form.labels.entry_fees')
  money_amount ||= @registration.entry_fee
  hint ||= ""
  hint_context ||= ""
  hint_context_attribute = hint_context.blank? ? "" : "class=\"text-#{hint_context} bg-#{hint_context}\""
%>

<% if money_amount %>
  <div class="simple_form form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="entry_fees"><%= label %></label>
      <div class="col-sm-9">
        <p class="form-control-static"><%= format_money(money_amount) %></p>
        <% unless hint.blank? %>
          <p class="help-block"><span <%= raw(hint_context_attribute) %>><%= hint %></span></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
