<% provide(:title, "Registrations for #{@competition.name}") %>

<div class="container">
  <h1><%= yield(:title) %></h1>
  # TODO - copy functionality of webroot/results/competition_registration.php
  HIya!
</div>
