<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>We are really thankful for your work!</h4>
    </div>
    <div class="panel-body">
      <p>You can find the corresponding Pull Request (PR) <%= link_to "on GitHub", @pr_url %>.</p>
      <p>A friendly robot named Travis and our software team will take a look
      at this soon. If there are any issues, we will comment on the PR, so please
      keep an eye on that page!</p>
      <p>This sweet cat GIF is for you =)</p>
      <a href="https://thecatapi.com"><img src="https://thecatapi.com/api/images/get?format=src&type=gif"></a>
    </div>
  </div>
</div>
