<div class="container">
  <h1>WST developer export</h1>

  <p>On this page we offer the WST developer export for download as SQL dump. Details can be found at <a href="https://github.com/thewca/worldcubeassociation.org/wiki/Developer-database-export">GitHub</a>.</p>

  <a href="/export/developer/wca-developer-database-dump.zip">Download</a>
</div>
