<div class="container">
  <h1><%= t('.heading') %></h1>

  <p><%= t('.description_html', github_link: link_to("GitHub", "https://github.com/thewca/worldcubeassociation.org/wiki/Developer-database-export")) %></p>

  <a href="/export/developer/wca-developer-database-dump.zip"><%= t('.download') %></a>
</div>
