<div class="container">
  <h1><%= t('.heading') %></h1>

  <p><%= t('.description_html', github_link: link_to("GitHub", "https://github.com/thewca/worldcubeassociation.org/wiki/Developer-database-export")) %></p>

  <%= link_to(t('.download'), @rel_download_path) %>
</div>
