<p>Hello <%= @user.name %>,</p>

<p>You have requested in worldcubeassociation.org to claim a WCA ID in the past.</p>

<p>We are currently cleaning up our records and reviewing these requests. We found that the ID you asked for (<%= wca_id_link @unconfirmed_wca_id %>) was already taken by another account before we could process your request.</p>

<p>Because this ID is not available, we have cancelled your claim.</p>

<p>If you believe this is an error, please <%= link_to "contact us", contact_url %>.</p>
