</title>
  <link href="style.css" rel="stylesheet"/>
</head>
<body>
<div id="header">
<center>
  <ul>
    <!--li><img src="wca_logo.svg" id="header_logo"></li-->
    <li><a href="http://www.worldcubeassociation.org/">WCA Home</a></li>
    <li><a href="./">Regulations</a></li>
    <li><a href="./guidelines.html">Guidelines</a></li>
    <li><a href="./scrambles/">Scrambles</a></li>
    <li><a href="./history/">History</a></li>
    <li><a href="http://www.worldcubeassociation.org/regulations/announcements/">Announcements</a></li>
    <li><a href="./translations/">Translations</a></li>
  </ul>
</center>
</div>
<div id="content">