#profile .ui.card.card-flat {
    box-shadow: none;
}

#profile .ui.card.small-card {
    max-width: 180px;
}

#profile .ui.card.large-card {
    max-width: calc(360px + 1em);
}

#profile .max-card-content {
    width: 100%;
    overflow-y: auto;
}

#profile .avatar {
    max-height: 300px;
    max-width: 100%;
}

#profile .collapsing-card-container {
    max-width: unset;
    margin: auto;
}

@media only screen and (max-width: 992px) {
    #profile .collapsing-card-container {
        max-width: 500px;
        margin: auto ;
    }
}

#profile .card-container {
    margin: auto;
}

#profile .stat-grid {
    padding: 3px;
    margin-top: auto;
    color: red;
}

#profile .stat {
    padding: 3px;
}

#profile .count-stat {
    margin: auto;
}

#profile .tab-container {
    max-width: 778px;
    margin: auto;
}
