<% provide(:title, t('.title')) %>

<div class="container">
  <%= react_component("MyCompetitions", {
      wcaId: current_user.wca_id,
      permissions: current_user.permissions,
      competitions: @my_competitions.transform_values { it.as_json(User::MY_COMPETITIONS_SERIALIZATION_HASH) },
      registrationStatuses: @my_registrations,
  }) %>
</div>
