<% provide(:title, t('.title')) %>

<div class="container">
  <%= react_component("PostsWidget", {
    titleOnly: true,
  }, {
      userInfo: @current_user,
      permissions: @current_user.permissions,
      competitions: {
        pastCompetitions: @past_competitions,
        futureCompetitions: @not_past_competitions,
        bookmarkedCompetitions: @bookmarked_competitions,
        registrationStatuses: @registered_for_by_competition_id,
      },
      }) %>
</div>
