<% provide(:title, @competition.name) %>

<%= render layout: 'results_nav' do %>
  <% @competition.events_with_podium_results.each do |event, podium_results| %>
    <h3>
      <%= anchorable event.name, "e#{event.id}" %>
    </h3>

    <%= render "results_table", results: podium_results, hide_event: true, hide_round: true %>
  <% end %>
<% end %>
