<% provide(:title, "Fix results") %>
<div class="container">
  <%= render layout: 'nav' do %>
    <h1><%= yield(:title) %></h1>
    <p>
      Entry point to fix existing results.
    </p>

    <%= render "fix_results_selector" %>
  <% end %>
</div>
