<% provide(:title, "Upload results") %>
<%= render layout: 'competitions/nav' do %>
  <h1><%= yield(:title) %></h1>
  <%= react_component("CompetitionResultSubmissionAdmin", {
    competitionId: @competition.id,
    hasTemporaryResults: @competition.inbox_results.present?,
    ticketId: @competition.result_ticket&.id,
  }) %>
<% end %>
