<div class="container">
  <h1>
    Sanity Check Results
  </h1>
  <% @categories.each do |category| %>
    <% latest_results = category.latest_results %>
    <h3>Category: <%= category.name %></h3>
    <code>
      <%= latest_results.query_results %>
    </code>
  <% end %>
</div>
