<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.resend_unlock_instructions', :default => "Resend unlock instructions") %></h4>
    </div>
    <div class="panel-body">
      <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, html: { role: "form" } }) do |f| %>
        <%= f.email_field :email, autofocus: true %>
        <%= f.submit t('.resend_unlock_instructions'), class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
