<% provide(:title, 'Delegates panel') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <ul>
    <li>
      <%= link_to "Crash course", delegate_crash_course_path %>
    </li>
    <li>
      <%= link_to "Delegates", delegates_stats_path %>
    </li>
  </ul>

  <% if current_user&.can_view_senior_delegate_material? %>
    <h1>Senior Delegates panel</h2>

    <%= link_to "Senior Delegate forms", "https://docs.google.com/document/d/12oyMQTC6hBhiil8CFvYuIT-iZfLO48urap4yq0w4xkg/" %>
  <% end %>
</div>
