<% provide(:title, 'List of Senior Delegates') %>

<div class="container">
  <h2>List of Senior Delegates</h2>
  <p>Below is the list of all Senior Delegates and the actions available for them:</p>
  <% @seniors.each do |s| %>
    <h4><%= s.name %></h4>
    <ul>
      <li><%= link_to("List of subordinate pending WCA ID claims", pending_claims_path(s.id)) %></li>
      <li><%= link_to("List of subordinate upcoming competitions", competitions_for_senior_path(s.id)) %></li>
    </ul>
  <% end %>
</div>
