<% @competition = @registration.competition %>

<p>
  <%= t 'registrations.mailer.waiting_list.waitlisted', register: link_to(@competition.name, competition_register_url(@competition)) %>
</p>

<p>
  <%= t 'registrations.mailer.waiting_list.email_if_error' %>
</p>

<%= render partial: 'organizers_or_delegates_signature' %>
