<p>
  <strong><%= @registration.name %></strong> has been banned until date <%= @end_date %>. This message indicates that the competitor was registered for <strong><%= @registration.competition.name %></strong>.
</p>
<p>
  To enforce the ban, their registration has been deleted, regardless of its status or the deadline for editing registration.
</p>
<p>
  If a payment was made, a full refund is recommended. However, the final decision rests with the organizing team, which may follow the refund policy outlined on the competition website.
</p>
<p>
  The WIC will contact relevant parties soon with further details regarding this sanction. If you have any questions, please reply to this email.
</p>
