<p>
  <%= @registration.name %>
  <% if @registration.user.wca_id %>
    (<%= wca_id_link @registration.user.wca_id -%>)
  <% end %>
  just registered for <%= @registration.competition.name %>.
</p>

<p>
You can check the ban scope and reason
  <%= link_to "here", panel_page_url(id: User.panel_pages[:bannedCompetitors]) %>
</p>
