<% @competition = @registration.competition %>

<p>
  <%= t 'registrations.mailer.new.registered_html', comp_name: link_to(@competition.name, competition_url(@competition)) %>
</p>

<p>
  <%= t 'registrations.mailer.new.awaits_approval' %>
</p>

<p>
  <%= t 'registrations.mailer.new.approval_info_html', here: link_to(t('common.here'), competition_register_url(@competition)) %>
</p>

<%= render partial: 'organizers_or_delegates_signature' %>
