<% @competition = @registration.competition %>

<p>
  Your registration for <%= link_to @competition.name, competition_url(@competition) %> has been moved to the waiting list. Possible causes are:
</p>

<ul>
  <li>
    Your registration was accidentally accepted
  </li>
  <li>
    You asked for withdrawal
  </li>
</ul>

<p>
  If you think this is an error, please reply to this email.
</p>

<%= render partial: 'organizers_or_delegates_signature' %>
