<% @competition = @registration.competition %>

<p>
  <%= t 'registrations.mailer.accepted.message_html', comp_name: link_to(@competition.name, competition_url(@competition)), here: link_to(t('common.here'), competition_register_url(@competition)) %>
</p>

<p>
  <%= t 'registrations.mailer.accepted.see_you_soon', comp_name: @competition.name %>
</p>

<%= render partial: 'organizers_or_delegates_signature' %>
