<% @competition = @registration.competition %>

<p>
  Your registration for <%= link_to @competition.name, competition_url(@competition) %> has been accepted.
  As always, you can check the status of your registration <%= link_to "here", competition_register_url(@competition) %>.
</p>

<p>
  We look forward to seeing you at <%= @competition.name %>!
</p>

<%= render partial: 'organizers_or_delegates_signature' %>
