<p>
  You just registered for <%= @registration.competition.name %>
</p>

<p>
  Your registration is currently pending approval by the organizers.
  The waiting list currently has <%= @registration.competition.registrations.pending.count %> <%= "person".pluralize(@registration.competition.registrations.pending.count) %> on it.
  You can check the status of your registration
  <%= link_to "here", competition_register_url(@registration.competition) %>.
</p>
