<% provide(:title, 'Notifications') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <div class="list-group">
    <% unless @notifications.each do |notification| %>
      <%= link_to notification[:text], notification[:url], class: "list-group-item" %>
    <% end.length > 0 %>
      You're all caught up.
    <% end %>
  </div>
</div>
