<p>Hello <%= @user.name %></p>

<p><%= @delegate.name %> - who you've picked to confirm your WCA ID is no longer delegate.</p>
<p>Please repeat your claim here: <%= link_to "here", profile_claim_wca_id_url %>.</p>
