<p>Hello <%= @user.name %></p>

<p>Your WCA ID claim could not be processed by <%= @delegate.name %>.</p>
<p>Please make a new claim <%= link_to "here", profile_claim_wca_id_url %> choosing a different delegate.</p>
