<p>
  You registered for <%= link_to @competition.name, competition_url(@competition). %>
  We just uploaded results for this competition, and created WCA IDs for all first time competitors.
  If you actually took part in this competition and it was your first one,
  then you should claim your WCA ID (link it with your WCA account).
  In order to do this, please visit <%= link_to "this page", profile_claim_wca_id_url %>.
</p>
