<p>
  Your results at <%= link_to @competition.name, competition_url(@competition) %> have just been posted.
</p>

<p>
  Check out all your results <%= link_to "here", competition_results_by_person_url(@competition, anchor: @user.wca_id) %>.
</p>

<p>
  You can manage your email preferences <%= link_to "here", profile_edit_url(section: :preferences) %>.
</p>

<p>
  Regards,
  The WCA Results Team on behalf of <%= users_to_sentence @competition.managers %>.
</p>
