<p>
  <%= t 'users.mailer.results_presence_email.intro_html', competition: @competition.name, competition_url: competition_url(@competition) %>
</p>

<p>
  <%= t 'users.mailer.results_presence_email.information_html', result_url: competition_results_by_person_url(@competition, anchor: @user.wca_id) %>
</p>

<p>
  <%= t 'users.mailer.results_presence_email.more_info_html', preferences_url: profile_edit_url(section: :preferences) %>
</p>

<p>
  <%= t 'users.mailer.results_presence_email.regards_html', managers: users_to_sentence(@competition.managers) %>
</p>
