<p>Results Team,</p>

<p>
  <%= @poster.name %> is posting results for <%= @competition.name %>.
  <br />
  Remember to check <%= link_to "the dashboard", posting_index_url %> if you want to start posting results.
</p>
