Hi WST,

<p>
  The month of <%= @month_name %> is coming to an end and it is time to send the next monthly digest on behalf of the WST.
  <br/>
  If there is currently no active position for project management and communication in WST, the random number oracle suggests that @<%= @assignee.name %> takes up this task.
</p>

<p>
  The monthly digest should contain a summary of the WST work for the past month.
  It doesn't need to go into every detail, but should definitely mention important changes.
  You can definitely group similar changes together, for instance by having only one bullet point for packages and locales updates, since we're having dozens of them every month.
  If you need some inspiration for writing your email, you can check one of the several monthly digests sent in the past, such as
  <%= link_to "this one", "https://groups.google.com/a/worldcubeassociation.org/d/msg/staff/vpJiCM1Let0/lEfGVG73CQAJ" %>
  on the WCA Staff group.
  <br/>
  You can find all merged commits for the past month
  <%= link_to("here on github", @pr_merged_this_month_url) %>
  (remember there are still a few days left until next month).
</p>

<p>
  Here are some additional instructions for sending the email:
</p>
<ul>
  <li>Try to send the digest on the first few days of next month.</li>
  <li>
    In your email, be sure to include links to relevant PRs.
    We want to encourage curiosity from our staff, maybe they'll become software team members someday!
  </li>
  <li>Always BCC announcements@, CC staff@, and CC software@ when sending emails.</li>
</ul>

<p>
  See you next month,
  Your friendly bot.
</p>
