tr.senior-delegate {
  background-color: #e9e9e9;
  color: black;
  font-size: 1.1em;
}

tr.candidate-delegate {
  font-style: italic;
}

.ui.sortable.table>thead>tr>th:not(.sorted)::after {
  content: "\f0d8";
  display: inline-block;
  opacity: 0;
}
