<% provide(:title, t(".title")) %>

<div class="container">
  <h1><%= yield(:title) %></h1>
  <p><%= t("results.last_updated_html", timestamp: wca_local_time(@ranking_timestamp)) %></p>
  <p><i><%= t('results.filters_fixes_underway') %></i></p>

  <%= react_component("Results/Rankings") %>
</div>
