<?php

$configDatabaseHost = '...';
$configDatabaseUser = '...';
$configDatabasePass = '...';
$configDatabaseName = '...';

global $recaptchaPublickey, $recaptchaPrivatekey;
$recaptchaPublickey  = '...';
$recaptchaPrivatekey = '...';

?>
