<% if @enable_react %>
  <%= react_component("Persons/CompetitionsMap", {
    competitions: competitions_for_markers(@person.competitions),
  }) %>
<% else %>
  <div id="competitions-map"></div>
  <script>
    $(function() {
      var competitions = <%= competitions_json_for_markers @person.competitions %>
      var map = window.wca.createCompetitionsMapLeaflet('competitions-map');
      window.wca.addCompetitionsToMapLeaflet(map, competitions);
    });
  </script>
<% end %>
