<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <%= link_to "FAQ", faq_path %>
      |
      <%= link_to "Contact", contact_path %>
      |
      <%= link_to "Privacy", privacy_path %>
      |
      <%= link_to "Disclaimer", disclaimer_path %>
      |
      <a href="https://github.com/thewca/worldcubeassociation.org" target="_blank" class="hide-new-window-icon">
        <i class="fa fa-github"></i>
      </a>
    </p>
  </div>
</footer>
