<div id="competitions-map"></div>
<script>
  $(function() {
    var competitions = <%= competitions_json_for_markers @person.competitions %>
    var map = wca.createCompetitionsMapLeaflet('competitions-map');
    wca.addCompetitionsToMapLeaflet(map, competitions);
  });
</script>
