<p>Dear translators,</p>

<p>
  Changes have been introduced recently and some translation work is needed.
  Please update your translation at your convenience.
</p>

<p>
  You can always check the status of all translations <%= link_to "here", translations_status_url %>.
</p>

<p>
  Thanks in advance, WCA Software Team
</p>
