<% provide(:title, t(".title")) %>

<% if @skip_robot_indexing %>
  <% content_for :robots_head do %>
    <meta name="robots" content="noindex" />
  <% end %>
<% end %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <div id="results-selector" class="results-select form-inline">
    <%= render 'results_selector', show_rankings_options: true %>
  </div>
  <% ranking_params = params.permit(:event_id, :type, :region, :gender, :years, :show).to_hash.values %>
  <% ranking_timestamp = Timestamp.find_by(name: "compute_auxiliary_data_end") %>
  <% cache_if ranking_timestamp.present?, ["rankings", *ranking_params, ranking_timestamp&.date, I18n.locale] do %>
    <%
      comp_ids = @rows.map { |r| r["competitionId"] }.uniq
      @competitions_by_id = Hash[Competition.where(id: comp_ids).map { |c| [c.id, c] }]
    %>
    <div id="search-results" class="results">
      <div id="results-list">
        <% unless @is_by_region %>
          <%= render 'rankings_table' %>
        <% else %>
          <%= render 'rankings_by_region_table' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
