<% provide(:title, t(".title")) %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <div id="results-selector" class="results-select form-inline">
    <%= render 'rankings_selector' %>
  </div>

  <div id="search-results" class="row results">
    <div id="results-list">
      <% unless @is_by_region %>
        <%= render 'rankings_table' %>
      <% else %>
        <%= render 'rankings_by_region_table' %>
      <% end %>
    </div>
  </div>
</div>
