clear_stripe:
  class: "ClearConnectedPaymentIntegrations"
  cron: "0 0 * * *"
  queue: wca_jobs

cleanup_pdfs:
  class: "CleanupPdfs"
  cron: "0 */6 * * *"
  queue: wca_jobs

submit_results_nag:
  class: "SubmitResultsNagJob"
  cron: "0 * * * *"
  queue: wca_jobs

submit_report_nag:
  class: "SubmitReportNagJob"
  cron: "0 * * * *"
  queue: wca_jobs

dump_developer_database:
  class: "DumpDeveloperDatabase"
  cron: "0 0 */3 * *"
  queue: wca_jobs

dump_public_results_database:
  class: "DumpPublicResultsDatabase"
  cron: "0 0 * * *"
  queue: wca_jobs

unstick_posts:
  class: "UnstickPosts"
  cron: "0 * * * *"
  queue: wca_jobs

registration_reminder:
  class: "RegistrationReminderJob"
  cron: "0 * * * *"
  queue: wca_jobs

publish_metrics:
  class: "PublishRegistrationMetrics"
  cron: "15 * * * *"
  queue: wca_jobs

sync_mailing_lists:
  class: "SyncMailingListsJob"
  cron: "15 4,16 * * *"
  queue: wca_jobs

notify_translators:
  class: "NotifyTranslatorsJob"
  cron: "0 12 * * *"
  queue: wca_jobs

wst_chores:
  class: "GenerateChore"
  cron: "0 8 23 * *"
  queue: wca_jobs

weat_digest:
  class: "WeatMonthlyDigestJob"
  cron: "0 0 1 * *"
  queue: mailers

delegates_metadata_sync:
  class: "DelegatesMetadataSyncJob"
  cron: "0 * * * *"
  queue: wca_jobs

late_cronjob_warnings:
  class: "CronjobWarningJob"
  cron: "40 */6 * * *"
  queue: wca_jobs

all_sanity_check:
  class: "AllSanityChecksJob"
  cron: "15 3 1 * *"
  queue: wca_jobs
