<div class="dialog" style="display: flex; height: 80vh; justify-content: center; align-items:center">
  <div>
    <h1><%= t('wca.errors.error_pages.400_error') %></h1>
    <p><%= t('wca.errors.error_pages.400_contact') %></p>
    <p>Request ID: <%= @request_id %></p>
  </div>
</div>
