<% provide(:title, "Results administration for #{@competition.name}") %>
<%= render layout: 'competitions/nav' do %>
  <h1><%= yield(:title) %></h1>

  <p>This page is a work in progress to replace the PHP administration code.</p>
  <p>The following actions are available for now:</p>
  <div class="list-group">
    <%= link_to "Upload and check results", competition_admin_upload_results_edit_path, class: "list-group-item" %>
  </div>
<% end %>
