<% provide(:title, "Check results") %>
<div class="container">
  <%= render layout: 'nav' do %>
    <h1><%= yield(:title) %></h1>
    <p>
      Check existing results.
    </p>

    <%= render "validator_form", backend_url: admin_check_results_path %>
    <%= render "results_submission/check_results_panel", results_validator: @results_validator, display_competition: @result_validation.competitions.length > 1 %>
  <% end %>
</div>
