<% provide(:title, 'Compute Auxiliary Data') %>

<div class="container">
  <%= render layout: "nav" do %>
    <%= render 'cronjob_status_panel', cronjob: ComputeAuxiliaryData, trigger_link: admin_do_compute_auxiliary_data_path do %>
      <div>
        <h4>This script:</h4>
        <ul class="list-group">
          <li class="list-group-item">Computes some auxiliary tables in the database (ConciseSingleResults, ConciseAverageResults, RanksSingle and RanksAverage).</li>
          <li class="list-group-item">Clears some cache files (living on the PHP side)</li>
          <li class="list-group-item">Deletes cached results (so they can be cached again)</li>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
