<% provide(:title, 'Compute Auxiliary Data') %>

<div class="container">
  <%= render layout: "nav" do %>
    <%= link_to "Do!", admin_compute_auxiliary_data_path, method: :post %>
  <% end %>
</div>
