<% provide(:title, 'Edit person') %>

<div class="container">
  <%= render layout: "nav" do %>
    <h1><%= yield(:title) %></h1>

    <%= react_component("Panel/Wrt/EditPerson", {
      countryList: Country.all,
    }) %>
  <% end %>
</div>
