<% provide(:title, 'Edit person') %>

<div class="container">
  <%= render layout: "nav" do %>
    <h1><%= yield(:title) %></h1>

    <%= react_component("Admin/EditPerson", {
      countryList: Country.all,
      genderList: [:m, :f, :o],
    }) %>
  <% end %>
</div>
