<p>Dear WCA Executive Assistants Team,</p>

<p>Here's the draft for this month digest (Please verify whether all the changes were informed to the WCA Board):</p>

<div><b>Changes in Teams/Committees/Councils</b></div>

<%= Team.changes_in_all_teams %>
