<%= t("common.hello", name: @user.name) %>

<p><%= t("devise.sessions.new.2fa.otp_email.2fa_attempt") %></p>
<pre>
  <%= @code %>
</pre>
<p><%= t("devise.sessions.new.2fa.otp_email.disclaimer") %></p>
