# Force SSL
SSLOptions +StrictRequire
SSLRequireSSL
ErrorDocument 403 https://worldcubeassociation.org/results/admin/

AuthUserFile /services/webpages/w/o/worldcubeassociation.org/public/results/admin/.htpasswd
AuthName "Only access to WCA admins!"
AuthType Basic
AuthUserFile "/services/webpages/w/o/worldcubeassociation.org/public/results/admin/.htpasswd"
<Limit GET POST PUT>
 require valid-user
# Order deny,allow
# Deny from all
# Allow from 
# Allow from all
</Limit>
