# Force SSL
SSLOptions +StrictRequire
SSLRequireSSL
ErrorDocument 403 https://worldcubeassociation.org:62830/results/admin/

AuthUserFile /home/www/worldcubeassociation.org/results/admin/.htpasswd
AuthName "Only access to WCA admins!"
AuthType Basic
AuthUserFile "/home/www/worldcubeassociation.org/results/admin/.htpasswd"
<Limit GET POST PUT>
 require valid-user
# Order deny,allow
# Deny from all
# Allow from 
# Allow from all
</Limit>
