<% provide(:title, 'WCA Translations') %>

<div class="container">
  <h1>WCA Regulations and Guidelines: Translations</h1>

  <p>If you speak a language other than English, you may find these translations useful.</p>
  <p>Please note that translations do not have any official status, even though they are provided on the WCA website: they do not come with any guarantees. If there is a difference between a translation and the (current official) English version, the English version must be used.</p>

  <style>
    table {
      border-collapse: collapse;
    }
    table thead {
      font-weight: bold;
    }
    table td {
      padding: 0.25em 0.5em;
      vertical-align: top;
    }
    tbody {
      border-top: 1px solid #0004;
    }
  </style>
  <h3>Current Translations</h3>
  <table>
    <thead><tr><td colspan=2>Version</td><td>Language</td></tr></thead>
    <tbody>
      <tr><td rowspan=3>2019-05-01</td></tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/chinese/">TODO: 中文</a></td>
        <td>(Chinese)</td>
      </tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/japanese/">TODO: 日本人</a></td>
        <td>(Japanese)</td>
      </tr>
    </tbody>
  </table>

  <h3>Older Translations</h3>
  <table>
    <thead><tr><td>Version</td><td colspan=2>Language</td></tr></thead>
    <tbody>
      <tr><td rowspan=11>2018-01-01</td></tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/chinese-traditional/">TODO</a></td>
        <td>(Chinese, Traditional)</td>
      </tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/dutch/">Nederlands</a></td>
        <td>(Dutch)</a></td>
      </tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/finnish/">Suomi</a></td>
        <td>(Finnish)</a></td>
      </tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/french/">Français</a></td>
        <td>(French)</a></td>
      </tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/german/">Deutsch</a></td>
        <td>(German)</a></td>
      </tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/indonesian/">Bahasa</a></td>
        <td>(Indonesian)</a></td>
      </tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/italian/">Italiano</a></td>
        <td>(Italian)</a></td>
      </tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/portuguese-brazilian/">Português do Brasil</a></td>
        <td>(Portuguese, Brazil)</td>
      </tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/russian/">TODO</a></td>
        <td>(Russian)</a></td>
      </tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/vietnamese/">TODO</a></td>
        <td>(Vietnamese)</a></td>
      </tr>
    </tbody>
    <tbody>
      <tr><td rowspan=4>2016-04-18</td></tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/croatian/">Hrvatski</a></td>
        <td>(Croatian)</a></td>
      </tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/hungarian/">Magyar</a></td>
        <td>(Hungarian)</a></td>
      </tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/korean/">TODO</a></td>
        <td>(Korean)</a></td>
      </tr>
    </tbody>
    <tbody>
      <tr><td rowspan=4>2015-07-01</td></tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/portuguese-european/">Português Europeu</a></td>
        <td>(Portuguese, European)</td>
      </tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/spanish-american/">Español Americano</a></td>
        <td>(Spanish, American)</</td>
      </tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/spanish-european/">Español de España</a></td>
        <td>(Spanish, European)</</td>
      </tr>
    </tbody>
    <tbody>
      <tr><td rowspan=2>2014-01-01</td></tr>
      <tr>
        <td><a href="https://www.worldcubeassociation.org/regulations/translations/belarusian/">Беларуская мова</a></td>
        <td>(Belarusian)</a></td>
      </tr>
    </tbody>
  </table>
  <h2>Translating the Regulations</h2>
  <p>If you're interested in adding/updating a translation, please view <%= link_to "the instructions on the GitHub repository for translations", "https://github.com/thewca/wca-regulations-translations#translation-instructions" %>.</p>
</div>
