<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t('devise.sessions.new.sign_in') %></h4>
  </div>

  <div class="panel-body">
      <%= render 'login_form' %>
  </div>
</div>
