<div class="container">
  <%= render layout: "devise/conversion_message", locals: { user: resource } do %>
    <% if EnvConfig.WCA_LIVE_SITE? %>
        <%= render 'live_template' %>
    <% else %>
        <%= render 'staging_template' %>
    <% end %>
  <% end %>
</div>
