<% provide(:title, "Validate Media") %>

<div class="container-fluid">
  <h2><%= yield(:title) %></h2>

  <%= link_to "View public media page", media_path %>

  <%= render "media_table", media: @media, show_edit_buttons: true %>
</div>
