html, body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Helvetica, Tahoma, sans-serif;
  background: #AAA;
  line-height: 1.2em;
}

#content {
  margin: 30px auto;
  padding: 16px 5%;
  width: 85%;
  background: #FFF;
  border-radius: 1em;
  box-shadow: 0px 0px 100px #888;
}

p {
  margin: 0 1em;
}

#logo {
  width: 2em;
  vertical-align: middle;
  padding: 0 0em 0.5em 0;
}

h1 {
  text-align: center;
  line-height: 1.2em;
  font-variant: small-caps;
}

h2 {
  margin: 1.5em -1em 1em;
  padding: 10px 16px 8px 16px;
  background: #EEE;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

h3 {
}

li {
  margin-left: -1em;
  padding-top: 10px
}

#table_of_contents {

}

#table_of_contents li {
  padding-top: 0.2em;
}

#header {
  margin: 0px;
  padding: 2px 0px;
  width: 100%;
  background: #FFF;
  box-shadow: 0px 0px 20px #888;
}
/*
#header_logo {
  display: inline;
  margin: -2px 10px 2px;
  height: 48px;
  vertical-align: middle;
}
*/
#header ul {
  margin: 0px;
  list-style: none;
  padding: 8px;
  line-height: 2em;
}

#header li {
  display: inline;
  margin: 8px 0;
  padding: 0 0;
}

#header li a {
  margin: 8px 4px;
  padding: 4px 12px;
  text-decoration: none;
  font-weight: bold;
  background: #F0F0F0;
  border: 1px solid #DDD;
  border-radius: 4px;
  color: #00F;
}

#header li a:hover {
  background: #FFF;
  text-decoration: underline;
}

.logo_with_text {
  max-width: 70%;
  max-height: 200px;
  margin-bottom: 16px;
}

.version {
  margin-top: 1em;
  text-align: center;
  font-weight: bold;
}

.label {
  padding: 4px 4px 2px 4px;
  margin: 0px 2px;
  border-radius: 4px;
  background: #DDD;
}

.SEPARATE, .example {
  background: #E8E8E8;
}

.linked {
  background: #DEF;
}

#content a {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}

#content a:hover {
  text-decoration: underline;
}
