<%
tag ||= ""
js_search ||= false
reg = Regulation.find_or_nil(tag)
label_class = reg ? "primary" : "default"
title = reg ? "#{link_to(reg["id"], reg["url"], target: "_blank")}" : tag
search_tag_link = js_search ? "href='#' onclick='window.wca.searchIncidentsForTag(event, \"#{tag}\");'" : "href='#{incidents_path(tags: tag)}'"
content = "<a #{search_tag_link}>Search incidents with this tag</a>"

if reg
  content = "#{reg["content_html"]} <hr/>" + content
end
%>
<span tabindex="0" class="incident-tag label label-<%= label_class%>" title='<%= title %>' data-toggle="popover" data-placement="bottom" data-content="<%= content %>" data-trigger="focus" data-html="true">
  <%= tag %>
</span>
