<h3> <%= t 'users.mailer.id_claim_possibility_email.intro' %></h3>,

<p>
  <%= t 'users.mailer.id_claim_possibility_email.information_html', competition_link: raw(link_to @competition.name, competition_url(@competition)), claim_link: raw(link_to t('common.here'), profile_claim_wca_id_url) %>
</p>
