<div class="well">
  <h3>Checklist before approving media</h3>
  <ul>
    <li>All media content must be related to the selected competition.</li>
    <li>All media content must be appropriate and clean and not contain any improper or offensive material.</li>
    <li>If the media content is huge, the checking can be done on excerpts only.</li>
    <li>If there is presence of sponsors / ads, it must be moderate.</li>
    <li>All media content should have appropriate and descriptive titles. If only this condition is not met, a results team members can choose to set an appropriate and descriptive title before approving the content.</li>
  </ul>
</div>
