<% provide(:title, t('.title')) %>

<div class="container-fluid">
  <%= link_to t('media.common.view_media_page'), media_path %>

  <h2><%= yield(:title) %></h2>

  <%= render "approval_guidelines" %>

  <%= render "media_table", media: @media, show_edit_buttons: true %>
</div>
