// Override the navbar border bottom just for the homepage.
.navbar.navbar-static-top {
  border: 0;
}

// Override the body background color so that the homepage content looks alright.
body {
  background-color: #f8f8f8;
}

// Override the footer alignment as we don't have the same container width as
// on other pages.
footer {
  .container.footer-links {
    text-align: center;
  }
}

#homepage {
  // NOTE:
  //   - We set top/bottom negative margins because on the rest of the website
  //   we have a margin between the navigation and the actual content.
  //   - We set right/left margins to auto to center the content on wide screens.
  margin-top: -15px;
  margin-bottom: -10px;
  #cover-homepage {
    background: url('../images/homepage_banner.svg') no-repeat center center fixed;
    background-color: #f8f8f8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 500px;
    width: 100%;
    padding: 1em 0em;
    // Make the title + 3 cards vertically centered.
    display: flex;
    flex-direction: column;
    justify-content: center;
    .ui.huge.header#welcome {
      font-size: 3em;
      text-align: center;
      text-shadow: 0 0 5px black;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
  }

  #content-homepage {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    .ui.inverted {
      &.raised {
        box-shadow: none;
      }
    }

    .ui.vertical.stripe.news-content {
      padding: 5em 1em;
      background-color: #f8f8f8;
      .post-content {
        max-width: 700px;
      }
    }

    .ui.container.cover-segments {
      margin-top: 2em;
    }

    .ui.segment.inverted {
      &.yellow, &.red {
        &, & > .ui.header, & > .ui.button, & > p > a {
          color: black;
        }
      }
    }
  }
}

.wc2025 {
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem auto;
  text-align: center;
}

.wc2025-header {
  font-size: 3em;
  text-align: center;
  text-shadow: 0 0 5px white;
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media (min-width: 1600px) { // Lets us take full advantage of screen space in larger displays
  #wc2025-container {
    width: 1600px;
  }

  #wc2025-jumbotron {
    width: 1500px;
  }
}

@media (max-width: 1600px) {
  #wc2025-logo {
    min-width: 140px; // Without this, it's too small in the ~320px range (smallest reasonable phone screen size)
    max-width: 260px; // Without this, it's too big in xs and sm views, taking space away from player and lower elements
    width: 100% // Without this, it will not go below the max-width even when the parent container is smaller
  }
}

@media (min-width: 992px) { // This vertically centers the items in md and lg views
  #outer-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 991px) { // This vertically centers the comp logo and buttons in sm and xs views
  #inner-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .wc2025 {
    padding: 1rem;
    margin: 1rem auto;
  }
}

.column-gap {
  margin-bottom: 15px; // Otherwise col items are touching each other when vertically stacked
}
