<div id="wc2025-container">

  <iframe src="https://player.twitch.tv/?channel=dev_spajus&parent=[www.worldcubeassociation.org,staging.worldcubeassociation.org]" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
</div>
