<% video_id = test ? ServerSetting.find('TEST_wc2025_video_url').value : ServerSetting.find('wc2025_video_url').value %>

<div class="container-fluid" style="width: 1400px;">
  <h2 class="">
    <%= "JULY 3-6: RUBIK'S WCA WORLD CHAMPIONSHIP 2025" %>
  </h2>

  <div class="row">

    <!-- Comp Logo & Buttons -->
    <div class="col-md-2">
      <%= image_tag "wc2025-logo", alt: "WC2025 Logo", class: "wc2025-logo", style: "margin-bottom: 20px;" %>

      <div>
        <a
          href="https://live.worldcubeassociation.org/competitions/7025"
          class="btn btn-primary hide-new-window-icon"
          target="_blank"
          rel="noopener noreferrer"
        >Live Results</a>
        <a
          href="https://www.worldcubeassociation.org/competitions/WC2025#competition-schedule"
          class="btn btn-primary hide-new-window-icon"
          target="_blank"
          rel="noopener noreferrer"
        >Schedule</a>
        <a
          href="https://www.competitiongroups.com/competitions/WC2025"
          class="btn btn-primary hide-new-window-icon"
          target="_blank"
          rel="noopener noreferrer"
        >Competition Groups</a>
      </div>
    </div>

    <!-- Stream Embed -->
    <div class="col-md-8">
      <div>
        <iframe
          width="80%"
          src="<%= "https://www.youtube.com/embed/#{video_id}?autoplay=1&mute=1" %>"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <!-- Sponsor -->
    <div class="col-md-2">
      <h3>Thank you to our title sponsor:</h3>
      <%= image_tag "rubiks_new.png",
        alt: "WC2025 Logo",
        class: "sponsor-logo"
      %>
    </div>
  </div>
</div>
