<!-- I tried jumbotron-in-jumbotron, but it doesn't lead to the a visual distinction between the outer and inner boxes -->
<div class="wc2025" id="wc2025-container">
  <h2 class="wc2025-header hidden-xs">
    <%= "JUNE 12-15: RUBIK'S WCA SOUTH AMERICAN CHAMPIONSHIP 2026" %>
  </h2>

  <div class="container" id="wc2025-jumbotron">
    <div class="row" id="outer-row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 column-gap">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            class="embed-responsive-item"
            style="border-radius: 12px; overflow: hidden;"
            src="<%= "https://www.youtube.com/embed/#{@video_id}?autoplay=1&mute=1&loop=1&playlist=#{@video_id}" %>"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
