<% provide(:title, 'Edit post') %>

<div class="container">
  <%= react_component("Posts/EditPost", {
    allTags: PostTag.select(:tag).distinct.pluck(:tag),
    post: @post.as_json(
      only: ["id", "title", "sticky", "show_on_homepage", "unstick_at"],
      methods: ["tags_array"],
    ),
  }) %>
</div>
