<% provide(:title, 'New post') %>

<% options = all_to_options(PostTag) %>

<div class="container">
  <%= react_component("Posts/PostForm", {
    header: yield(:title),
    allTags: options.as_json,
  }) %>
</div>
