<% provide(:title, 'New post') %>

<div class="container">
  <%= react_component("Posts/CreatePost", {
    allTags: PostTag.distinct.pluck(:tag).map { |tag| { value: tag, text: tag, key: tag } }.as_json,
  }) %>
</div>
