<% provide(:title, "Editing #{@regional_organization.name} Regional Organization") %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <%= render "regional_organizations/regional_organization_form" %>
</div>
