<% provide(:title, t('regional_organizations.title')) %>

<div class="container">
  <%= react_on_rails_component("RegionalOrganizations", props: {
    orgs: @acknowledged_regional_organizations,
  }) %>
</div>
