<% provide(:title, t('regional_organizations.title')) %>

<div class="container">
  <%= react_component("RegionalOrganizations/index", {
    orgs: @acknowledged_regional_organizations,
  }) %>
</div>
