<%
  force_collapse ||= false
  display_competition ||= false
  # NOTE: expect valid 'results_validator' variable
  panel_style = class_for_panel(error: results_validator.has_errors?,
                                warning: results_validator.has_warnings?,
                                no_validator: results_validator.validators.empty?)
  collapse_panel = force_collapse || !results_validator.has_results?
%>
<div class="panel panel-<%= panel_style %>">
  <div class="panel-heading heading-as-link <%= "collapsed" if collapse_panel %>" data-toggle="collapse" data-target="#collapse-check-results">
    <h3 class="panel-title">
      <% if results_validator.check_real_results? %>
        Check competition's results
      <% else %>
        Check imported results
      <% end %>
      <span class="collapse-indicator"></span>
    </h3>
  </div>
  <div id="collapse-check-results" class="panel-body collapse <%= "in" unless collapse_panel %>">
    <% if results_validator.validators.any? %>
      <%= render "results_submission/validations_results", results_validator: results_validator, display_competition: display_competition %>
    <% else %>
      Please run some validators to check the results.
    <% end %>
  </div>
</div>
