<div class="panel panel-default">
  <div class="panel-heading heading-as-link <%= "collapsed" unless results_validator.has_results %>" data-toggle="collapse" data-target="#collapse-preview-results">
    <h3 class="panel-title">
      Preview imported results
      <span class="collapse-indicator"></span>
    </h3>
  </div>
  <div id="collapse-preview-results" class="panel-body collapse <%= "in" if results_validator.has_results %>">
    <% rounds_by_id = Hash[@competition.competition_events.map(&:rounds).flatten.map { |r| ["#{r.event.id}-#{r.round_type_id}", r] }] %>
    <% persons_by_id = Hash[results_validator.inbox_persons.map { |person| [person.id, person] }] %>
    <% results_validator.inbox_results.group_by(&:eventId).each do |event_id, results_for_event| %>
      <% # Empty div to allow linking directly to results for an event %>
      <% results_for_event.group_by(&:roundTypeId).each do |round_type_id, results_for_round| %>
        <%= render "results_submission/table_for_round", results: results_for_round, persons_by_id: persons_by_id, round: rounds_by_id["#{event_id}-#{round_type_id}"] %>
        <%# render "competitions/results_table", results: results_for_round, hide_event: true, hide_round: true %>
      <% end %>
    <% end %>
  </div>
</div>
