<% max_height ||= nil %>
<% expand_all ||= false %>

<div class="panel panel-default">
  <div class="panel-heading heading-as-link <%= "collapsed" unless results_validator.has_results? %>" data-toggle="collapse" data-target="#collapse-preview-results">
    <h3 class="panel-title">
      Preview imported results
      <span class="collapse-indicator"></span>
    </h3>
  </div>
  <div id="collapse-preview-results" class="panel-body collapse <%= "in" if results_validator.has_results? %>" style="<%= "max-height: #{max_height}; overflow: scroll;" if max_height.present? %>">
    <p>Click on a round's name to display its preview.</p>
    <% if results_validator.has_results? %>
      <% results_validator.results.group_by(&:eventId).each do |event_id, results_for_event| %>
        <% results_for_event.group_by(&:roundTypeId).each do |round_type_id, results_for_round| %>
          <%= render "results_submission/table_for_round", results: results_for_round, results_validator: results_validator, round_id: "#{event_id}-#{round_type_id}", expand_all: expand_all %>
        <% end %>
      <% end %>
    <% else %>
      <p>No results uploaded to Inbox yet.</p>
    <% end %>
  </div>
</div>
