.collapse-indicator {
  @extend .icon;
  content: "\f078"; // Semantic chevron down

  .collapsed & {
    content: "\f054"; // Semantic chevron right
  }
}
.panel-heading .collapse-indicator {
  float: right;
  color: grey;
}

/*
 * Make collapse link fill up entire panel-title
 * Copied from http://stackoverflow.com/a/20188613
 */
.panel-title a[data-toggle="collapse"],
.panel-title a.full-space {
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
}
