.common-country-styles {
  padding: 5px 15px 5px 15px;
  display: flex;
  .flag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    .fi {
      width: 30px;
      height: 24px;
    }
  }
  .name {
    width: 100%;
    text-align: center;
  }
}

.country-band {
  display: flex;
  flex-wrap: wrap;
  .title {
    margin-bottom: 15px;
  }
  .country {
    @extend .common-country-styles;
    border: 2px solid #aaa;
    border-radius: .25em;
    margin: 0px -5px 7px -5px;
    background-color: #eee;
    &.highlighted {
      border-color: $dark-green;
    }
  }
}

.selectize-control {
  .selectize-input.items {
    display: flex;
    flex-wrap: wrap;
    & > .country {
      @extend .common-country-styles;
      border: 2px solid #aaa;
    }
  }
}

.filter-form {
  text-align: center;
  margin-bottom: 15px;
  select.form-control {
    margin-left: 5px;
    display: inline-block;
    width: auto;
  }
}
