/*
 * Solution inspired by:
 *  https://github.com/twbs/bootstrap/issues/14854#issuecomment-60221141
 *
 * The :not(.fa) is to deal with the markdown help link
 * that EasyMDE (our markdown editor) creates. It should probably be changed to
 * create an icon *inside* of an a tag, rather than flattening the icon into
 * the a tag.
 */
a[target=_blank]:not(.hide-new-window-icon):not(.fa),
form[target=_blank] button[type=submit] {
  &::after {
    font-family: 'Icons';
    content: "\f35d"; /* semantic external */
    display: inline-block; /* prevent underlining */
    margin-left: 0.3em;
    line-height: 1;
  }
}

:target {
  background-color: yellow;
}
