.navbar-static-top {
  margin-bottom: 15px;
  // Override bootstrap default, flexbox is taking care of this.
  min-height: auto;

  .navbar-toggle{
    margin-top: 16px;
  }
  .dropdown-menu i {
    margin-right: 10px;
  }

  #locale-selector {
    min-width: 0;
    li {
      text-align: left;
    }
  }

  .logo{
    display: none;
  }

  .brand{
    top: 0;
    padding: 0 10px;
    margin: 5px 0;
    width: fit-content;
    display: inline-block;
    img{
      height: 56px;
    }
  }

  $nav-avatar-thumbnail-size: 40px;
  a.top-nav > .avatar-thumbnail {
    width: $nav-avatar-thumbnail-size;
    height: $nav-avatar-thumbnail-size;
    margin-top: -($nav-avatar-thumbnail-size - 20px) / 2;
    margin-bottom: -($nav-avatar-thumbnail-size - 20px) / 2;
  }


  .search-container{
    width: 100%;
    padding: 0 7px;
  }


  .navbar-collapse {
    margin: 0;
    clear: both;

    $omni-search-sm-width: 230px;
    $omni-search-md-width: 230px;
    $omni-search-lg-width: 500px;


    #omnisearch-form {
      @media (min-width: $screen-sm-min) {
        width: $omni-search-sm-width;
      }
      @media (min-width: 1200px) {
        width: $omni-search-md-width;
      }
      @media (min-width: 1500px) {
        width: $omni-search-lg-width;
      }
    }
  }

  .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
    &.top-nav:hover {
      background: #f0f0f0;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .navbar-static-top {
    padding: 5px 0;
    .logo {
      display: block;
      height: 100%;
      &:hover{
        background: #f0f0f0;
      }
      a{
        padding: 0 10px;
        img{
          height: 50px;
        }
      }
    }

    .navbar-right{
      display: flex;
      align-items: center;
    }

    .brand{
      display: none;
    }

    .navbar-collapse {
      position: relative;
      border-top-left-radius: 8px;

      li.search-container{
        width: auto;
        form{
          display: inline;
        }
      }
    }

    .navbar-nav.navbar-right:last-child {
      margin-right: 0;
    }
  }
}
