#persons-index {
  .persons-table {
    .name {
      width: 40%;
    }

    .wca-id {
      width: 10%;
    }

    .country {
      width: 30%;
    }

    .competitions-count,
    .podiums-count {
      width: 10%;
      text-align: center;
    }
  }

  .fixed-table-loading,
  .pagination-detail {
    // We need !important here because these elements are toggled via jQuery by bootstrap-table.
    display: none !important; // scss-lint:disable ImportantRule
  }

  .table-responsive {
    border: 0;
  }
}

#person {
  /* Generic table style for the person profile page. */
  table {
    @extend table, .with-solves;
    white-space: nowrap;

    .cubing-icon {
      font-size: 1.3em;
      line-height: normal;
    }

    td,
    th {
      vertical-align: middle;

      &.single,
      &.average {
        text-align: right;
      }
    }

    td {
      padding: {
        top: 4px;
        bottom: 4px;
      }

      &.single,
      &.average {
        font-weight: bold;
      }
    }
  }

  .avatar {
    max-width: 100%;
    max-height: 300px;
  }

  .details {
    margin-top: 10px;

    th,
    td {
      @media (min-width: $screen-sm) {
        text-align: center;
      }

      .fi {
        font-size: 1.5em;
      }
    }
  }

  .personal-records {
    table {
      td {
        &.country-rank {
          opacity: 0.6;
        }

        &.continent-rank {
          opacity: 0.8;
        }

        &.record {
          color: red;
          opacity: 1;
        }
      }

      th,
      td {
        &.event {
          display: flex;
          width: 100%;
          cursor: pointer;

          &:hover {
            opacity: 0.6;
          }
        }

        &:not(.event) {
          text-align: right;
          vertical-align: middle;
        }
      }
    }
  }

  .wc-podiums {
    table {
      .competition-link {
        font-weight: bold;
      }

      .result td {
        &.event .cubing-icon {
          margin-left: 30px;
        }

        &.place {
          color: $blue;
          font-weight: bold;
        }
      }

      td,
      th {
        &.place {
          text-align: right;
        }
      }
    }
  }

  .medal-collection,
  .record-collection {
    table {
      td,
      th {
        text-align: center;
      }
    }
  }

  .nav.nav-tabs {
    li a {
      @extend h3;
      margin-bottom: 0;
      outline: none;
    }
  }

  .results-by-event {
    table {
      th,
      td {
        &.regional-single-record,
        &.regional-average-record {
          font-weight: bold;
          text-align: left;
        }

        &.pb {
          color: $pb-color;
        }

        &.wr {
          color: $wr-color;
        }

        &.cr {
          color: $cr-color;
        }

        &.nr {
          color: $nr-color;
        }
      }

      &.highlight-gold tr.gold-place,
      &.highlight-silver tr.silver-place,
      &.highlight-bronze tr.bronze-place {
        background-color: $highlight-row-color;
      }
    }
  }

  #competitions-map {
    width: 100%;
    height: 500px;
  }
}
