#poll-results {
  width: auto;
  td {
    padding-left: 20px;

    &.total {
      font-weight: bold;
    }

    &.bar {
      width: 200px;
    }
  }

}

table.polls-list {
  width: auto;

  tr td {
    vertical-align: middle;

    p {
      margin: 0;
    }

    .btn {
      width: 100%;
    }
  }
}

.panel-body.nested-fields {
  margin: 5px 0;

  input {
    width: 300px;
    display: inline;
  }
}

/*This is necessary because the "md" (Markdown) generates a <p> element, and we want the option label to appear inline with the radio/check*/
.checkbox p {
  display: inline;
}

.new-poll {
  text-align: center;
}
