table.registrations-table {
  margin-bottom: 50px; // Make space for the registration-actions

  td {
    white-space: nowrap;
    &.comments,
    &.guests,
    &.administrative-notes {
      max-width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  tr {
    &.registration-pending {
      color: grey;
    }
    &.registration-accepted {
    }
  }

  &.accepted .icon.exclamation {
    color: red;
  }
}

#registrations-actions {
  position: fixed;
  z-index: 1000; /* show over sticky table headers */
  bottom: 20px;
}

#flash-alerts.sticky {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  padding: 0 15%;
  z-index: 1000;
}

.panel-heading span.collapse-register {
  float: left;
  color: #fff;
  padding-right: 10px;
}

/* Apply Bootstrap focused form control style to Stripe element */
.StripeElement--focus {
  @extend .form-control, :focus;
}
