// We can't quite include this for all .badge since our navigation and some
// other places on the website use badges, so we just extend from a common style.
.common-badge-style {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  margin-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.badge {
  &.team-member-badge {
    @extend .common-badge-style;
    vertical-align: top;
    color: $gray;
    background-color: $gray-lighter;
    .avatar-thumbnail {
      border-radius: 5px;
    }
    a {
      color: #555555;
    }
  }

  &.team-senior-member-badge {
    @extend .common-badge-style;
    background-color: $dark-green;
    color: white;
    vertical-align: top;
    span.team-subtext {
      font-style: oblique;
      margin-top: 6px;
      display: block;
      line-height: 1.5;
    }
    .avatar-thumbnail {
      vertical-align: top;
      border-radius: 5px;
    }
    a {
      color: white;
    }
  }

  &.team-leader-badge,
  &.officer-badge {
    @extend .common-badge-style;
    background-color: $dark-blue;
    color: white;
    vertical-align: top;
    span.team-subtext {
      font-style: oblique;
      margin-top: 6px;
      display: block;
      line-height: 1.5;
    }
    .avatar-thumbnail {
      vertical-align: top;
      border-radius: 5px;
    }
    a {
      color: white;
    }
  }

  &.officer-badge {
    @extend .common-badge-style;
    background-color: black;
    color: white;
  }

  &.team-email {
    a {
      color: white;
    }
  }

  &.delegate-badge {
    @extend .common-badge-style;
    background-color: $dark-red;
    color: white;
    vertical-align: top;
    a {
      color: white;
    }
  }
}

.team-member-name {
  padding-left: 1em;
  display: inline-block;
}
