@keyframes loading-pulse {
  0% {
    transform: scale(1);
  } 25% {
    transform: scale(2);
  } 75% {
    transform: scale(0.5);
  } 100% {
    transform: scale(1);
  }
}

.wca-autocomplete.selectize-control {
  $search-icon-size: 16px;

  .selectize-dropdown-content {
    max-height: 400px;
  }

  &.single .selectize-input::after {
    // Hide dropdown arrow, as it gets in the way of our search/loading icon.
    display: none;
  }
  &::before {
    font-family: 'Icons';
    content: "\f002"; /* semantic-search */
    opacity: 0.4;
    color: #333;

    width: $search-icon-size;
    height: $search-icon-size;

    position: absolute;
    top: $search-icon-size / 2;
    right: 10px;
    z-index: 2;

    // Ensure that when the loading class is removed, we still animate smoothly
    // back to our start state.
    transition: all 0.25s ease;

    // Don't capture mouse events, this lets us grow the input on hover.
    pointer-events: none;
  }
  &.loading::before {
    animation: loading-pulse 1.2s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }

  .selectize-input {
    padding-right: 12px + $search-icon-size;
  }


  .selectize-input,
  .selectize-input.input-active {
    display: block;
  }

  .wca-autocomplete-competition {
    .name {
      font-size: 1.5em;
      display: block;
    }
    .cityName {
    }
    .countryId {
    }
    .id {
    }
  }
}

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: text;
}
