<?php

#--- Note: make sure you protect the admin folder, you can use the .htaccess.template there
if( ! file_exists( pathToRoot() . 'admin/.htaccess' ) )
  exit( 'check your config file' );

$configDatabaseHost = '...';
$configDatabaseUser = '...';
$configDatabasePass = '...';
$configDatabaseName = '...';

global $recaptchaPublickey, $recaptchaPrivatekey;
$recaptchaPublickey  = '...';
$recaptchaPrivatekey = '...';

?>
