<% provide(:title, 'Approve Avatars') %>

<div class="container">
  <%= render layout: "nav" do %>
    <h1><%= yield(:title) %></h1>

    <%= react_component('Panel/pages/ApprovePictures') %>
  <% end %>
</div>
