<% provide(:title, 'Approve Avatars') %>

<div class="container">
  <%= render layout: "nav" do %>
    <h1><%= yield(:title) %></h1>

    <%= react_component('Panel/pages/ApprovePictures', { pendingUsers: @users.as_json({ methods: %w[staff_or_any_delegate? avatar_history current_avatar_id pending_avatar]})}) %>
  <% end %>
</div>
