<% provide(:title, "Report for #{@competition.name}") %>

<%= render layout: 'nav' do %>
  <div>
    <strong>Report:</strong>
    <%=md @delegate_report.content %>
  </div>

  <% if @delegate_report.posted_at %>
    <p>
      <strong>Posted at:</strong>
      <%= wca_local_time(@delegate_report.posted_at) %>
    </p>
  <% end %>

  <% if current_user.can_edit_competition_report?(@competition) %>
    <%= link_to 'Edit', competition_report_edit_path(@competition) %>
  <% end %>
<% end %>
