# Compress most output
AddOutputFilterByType DEFLATE text/html text/plain text/xml

<IfModule mod_ssl.c>
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
Header add Strict-Transport-Security "max-age=15768000; includeSubdomains"
</IfModule>

# Protect files and directories from prying eyes.
<FilesMatch "\.(engine|inc|info|install|make|module|profile|test|po|sh|.*sql|theme|tpl(\.php)?|xtmpl)(~|\.sw[op]|\.bak|\.orig|\.save)?$|^(\..*|Entries.*|Repository|Root|Tag|Template)$|^#.*#$|\.php(~|\.sw[op]|\.bak|\.orig\.save)$">
  Order allow,deny
</FilesMatch>

# Stats Directory
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^/(stats|failed_auth\.html).*$ [NC]
RewriteRule . - [L]
</IfModule>

Options -Indexes
Options +FollowSymLinks
Options +ExecCGI
RewriteEngine on

# Copied and modified from:
#  http://adamish.com/blog/archives/775

<IfModule mod_fastcgi.c>
AddHandler fastcgi-script .fcgi
</IfModule>
<IfModule mod_fcgid.c>
AddHandler fcgid-script .fcgi
</IfModule>

RewriteRule ^$ rails-dispatch.fcgi/$1 [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(robots.txt|oauth/.*|users/.*|api/.*|assets/.*|files/.*|posts/.*|rss.*|about|delegates|organisations|contact(/.*)?|score-tools|logo|wca-workbook-assistant|wca-workbook-assistant-versions)$ rails-dispatch.fcgi/$1 [QSA,L]

# Copied and modified from:
#  http://kahthong.com/2011/05/how-serve-drupal-sub-directory-web-root-0
# Also change $base_url in sites/default/settings.php.
# Serve Drupal 7 from sub directory in web root
RewriteRule ^$ drupal/index.php [L]
RewriteCond %{DOCUMENT_ROOT}/drupal%{REQUEST_URI} -f
RewriteRule .* drupal/$0 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* drupal/index.php?q=$0 [QSA]
