<% provide(:title, @competition.display_name) %>
<div id="registration-app">
  <script src="<%= EnvVars.WCA_REGISTRATIONS_CDN_URL %>/dist/bundle.js"></script>
  <script>
    // inject the css file
    const head = document.getElementsByTagName('HEAD')[0];
    const link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = '<%= EnvVars.WCA_REGISTRATIONS_CDN_URL %>/dist/bundle.css';
    // Append link element to HTML head
    head.appendChild(link);
  </script>
</div>
