<% if object.errors.any? %>
  <div id="error_explanation">
    <%= alert :danger do %>
      <%= t 'errors.messages.form_error', x_error: pluralize(object.errors.count, t('errors.messages.error')) %>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
