<%# React migration of this file is partially done and is available in components/UserAvatar.js %>
<% avatar_symbol = defined?(show_pending) && show_pending ? :pending_avatar : :avatar %>
  <% url = user.send(avatar_symbol).url(:thumb) + ( defined?(break_cache) ? "?#{Time.now.to_f}" : "" ) %>
<div class="avatar-thumbnail <%= defined?(avatar_class) ? avatar_class : "" %>"
     style="background-image: url('<%= url %>');"
     <% user_uploaded_img = user.send "#{avatar_symbol}?".to_sym %>
     <% if !defined?(do_not_show_full_image_on_hover) && user_uploaded_img %>
       data-trigger="hover"
       data-toggle="popover"
       title="<%= defined?(title) ? title : "" %>"
       data-html="true"
       data-content="<img src='<%= user.send(avatar_symbol).url %>'></img>"
     <% end %>
></div>
