<div class="wca-user">
  <%= render "shared/user_avatar", user: user %>
  <span class="name"><%= user.name %></span>
  <% if user.wca_id %>
    <span class="wca-id"><%= user.wca_id %></span>
  <% end %>
</div>
