<div class="wca-user">
  <%= react_component("UserAvatar", {
    avatar: user.avatar,
    size: "small",
  }, class: 'avatar-thumbnail') %>
  <div class="info">
    <div class="name"><%= user.name %></div>
    <% if user.wca_id %>
      <div class="wca-id"><%= user.wca_id %></div>
    <% end %>
  </div>
</div>
