<% avatar_symbol = defined?(show_pending) && show_pending ? :pending_avatar : :avatar %>
<% if user.send "#{avatar_symbol}?".to_sym %>
  <div class="avatar-circle"
       style="background-image: url('<%= user.send(avatar_symbol).url(:thumb) %>');"
       data-trigger="hover" data-toggle="popover" title="" data-html="true" data-content="<img src='<%= user.send(avatar_symbol).url %>'></img>"
  ></div>
<% else %>
  <div class="avatar-circle"></div>
<% end %>
