<div class="wca-user">
  <%= render "shared/user_avatar", user: user %>
  <div class="info">
    <div class="name"><%= user.name %></div>
    <% if user.wca_id %>
      <div class="wca-id"><%= user.wca_id %></div>
    <% end %>
  </div>
</div>
