@import "variables.scss";

.competition-results {
  .events-list {
    display: flex;
    justify-content: center;
  }
  .event-results {
    .table-cell-solves {
      word-spacing: 0.5em;
    }
    .table-cell-solves-mbf {
      word-spacing: 2em;
    }
    .WR {
      color : $wr-color;
    }
    .CR {
      color : $cr-color;
    }
    .NR {
      color : $nr-color;
    }
  }
}
