body, html {
  // This implements sticky footer, by making the main content extend as needed.
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  main {
    flex: 1;
  }

  .icon {
    text-decoration: none;
    &.cubing-icon {
      vertical-align: baseline;
    }
  }

  // The FUI's basic style doesn't have the '!important' tag, and hovering
  // an icon doesn't look as good as it should.
  // I suspect this is fixed in more recent version of the stylesheets, as it
  // is fixed in the online documentation.
  i.link.icon:hover,
  i.link.icons:hover {
    opacity: 1 !important;
  }

  .ui.form input[type=color] {
    // SCSS: "complex selectors may not be extended"
    // @extend .ui.form input[type=text];

    min-height: 38px;
  }

  .navbar-brand {
    .icon {
      margin: 0;
      width: auto;
    }
  }

  footer.ui.segment.vertical {
    border-top: 1px solid #ddd;
    // Our main content spreads a bit too close from the footer.
    margin-top: 10px;
    background-color: #f8f8f8;
    a {
      color: black;
    }
  }
}
