@import "variables";

.user-badge {
  margin: 4px !important;

  &.board {
    .label {
      background-color: black;
    }
  }

  &.leader {
    .label {
      background-color: $dark-blue;
    }
  }

  &.senior {
    .label {
      background-color: $dark-green;
    }
  }

  .user-name {
    .subtext {
      font-style: oblique;
      margin-top: 6px;
      font-size: 0.9em;
    }
  }
}
