.pending-avatar {
  height: 300px;
  img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .btn-group {
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
}

.carousel.old-avatars {
  .carousel-inner > .item {
    height: 300px;
    img {
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  .carousel-caption {
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

#upload-avatar-form{
  display: inline;
}

.remove-avatar-confirm {
  display: none;
  margin-top: 5px;

  &__button{
    margin-top: 5px;
  }
}
