.collapse-indicator {
  @extend .glyphicon;
  @extend .glyphicon-chevron-down;

  .collapsed & {
    @extend .glyphicon-chevron-right;
  }
}
.panel-heading .collapse-indicator {
  float: right;
  color: grey;
}

/*
 * Make collapse link fill up entire panel-title
 * Copied from http://stackoverflow.com/a/20188613
 */
.panel-title a[data-toggle="collapse"] {
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
}
