// Workaround for https://github.com/cubing/icons/issues/8

.cubing-icon.icon-mmagic::before {
  content: 'mmagic';
}
.cubing-icon.icon-magic::before {
  content: 'magic';
}
.cubing-icon.icon-333mbo::before {
  content: '333mbo';
}

.event-checkbox {
  label {
    cursor: pointer;
  }
  .cubing-icon {
    font-size: 2em;
  }
  input[type=checkbox] {
    cursor: pointer;
    display: none;
    & + span.cubing-icon {
      color: #ccc;
    }
    &:checked + span.cubing-icon {
      color: black;
    }
  }
}

$venue-map-wrapper-height: 400px;
#venue-map-wrapper {
  height: $venue-map-wrapper-height;

  #googleMapsLocationInput {
    position: absolute;
    z-index: 1;
    width: 50%;
    margin-top: 10px;
  }

  .map {
    height: $venue-map-wrapper-height - 10px;
    position: absolute;
    left: 0px;
    right: 0px;
  }
}
