.schedule-table-header {
  border-bottom: 3px solid #ddd;
}
.schedule-table {
  .row {
    /*
    &:nth-of-type(even) {
      background-color: #dcdcdc;
    }
    &:nth-of-type(odd){
      background-color: #aaa;
    }
     */
    div {
      padding: 8px;
    }
    .activity-time {
      @media (max-width : 992px){
        font-weight: bold;
      }
    }
    .activity-name {
      @media (max-width : 992px){
        font-weight: bold;
      }
    }
    .room-name {
      @media (min-width : 768px) {
        text-align: center;
      }
      @media (max-width : 992px) {
        font-style: italic;
      }
    }
    border-bottom: 1px solid #ddd;
  }
}
