// Small enough to fit even at sm screen size
$competition-nav-width: 200px;
$competition-nav-padding: 50px;

#competition-nav {
  @extend .col-sm-4;
  z-index: 1; /* Display on top of the competition map */

  // Take up full width in sm
  @media (max-width: $screen-sm-min) {
    width: 100%;
  }

  @media (min-width: $screen-sm-min) {
    width: $competition-nav-width + $competition-nav-padding;
    > .list-group {
      width: $competition-nav-width;
    }
  }

  > .list-group {
    top: 20px;

    // Disable affix on mobile
    //  http://stackoverflow.com/a/17395219/1739415
    @media (max-width: $screen-sm-min) {
      position: static;
    }

    .list-group-item a.active {
      color: $list-group-active-bg;
    }

    .list-group-item a:hover {
      text-decoration: none;
    }
  }
}

#competition-data {
  @extend .col-sm-8;
  /* Static so the map can escape and size itself relative to the full page */
  position: static;

  // Take up full width in sm
  @media (max-width: $screen-sm-min) {
    width: 100%;
  }

  @media (min-width: $screen-sm-min) {
    width: calc(100% - (#{$competition-nav-width} + #{$competition-nav-padding}));
  }

  .show-events-table {
    .last-round > td {
      border-bottom: 4px solid #ccc;
    }
  }
}

// Workaround for https://github.com/cubing/icons/issues/16
.cubing-icon.fa-fw {
  display: inline-block;
}

$venue-map-wrapper-height: 400px;
#venue-map-wrapper {
  height: $venue-map-wrapper-height;

  #map {
    height: $venue-map-wrapper-height - 10px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
  }
}

#nearby-competitions {
  position: relative;

  .progress {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.55;
  }

  &.loading .progress {
    display: inline;
  }
}

.modal-wide {
  overflow-y: auto;
  width: 90%;
}

.competitions-table {

  tr.not-past {
    &.not-visible {
      opacity: 0.5;
    }

    &.confirmed {
      background-color: $state-success-bg;
    }

    &.not-confirmed {
      background-color: $state-danger-bg;
    }
  }

  td {
    white-space: nowrap;
  }
}

.big-column {
  width: 100%;
}

#competition-query-form {
  width: 100%;
  margin: 20px 0;

  #region,
  #search-field {
    font-size: 12px;
    font-weight: normal;
    display: block;
  }

  .custom-control {
    width: 100px;
    @media (max-width: $screen-sm) {
      display: inline-block;
    }
  }

  #clear-all-events,
  #select-all-events {
    width: 100px;
  }

  #state {
    min-width: 220px;
    display: block;
    @media (max-width: $screen-sm) {
      display: inline-block;
      width: 100%;
    }
  }

  #display {
    margin-top: 20px;
  }

  .admin-selectors {
    display: none;
  }

  &.admin .admin-selectors {
    display: inline-block;
  }

  .delegate-selector {
    display: inline-block;
    width: 300px;
  }
}

.same-line {
  display: inline-block;
  margin-right: 5px;
}

#search-results {
  position: relative;

  #loading {
    display: none;
    position: absolute;
    margin: 0 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: transparentize(white, 0.5);
    .spinner-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.competitions-list #loading .spinner-wrapper {
    top: 30px;
  }

  &.competitions-list #competitions-map,
  &.competitions-admin #competitions-map {
    display: none;
  }

  &.competitions-map #competitions-list,
  &.competitions-map #competitions-admin {
    display: none;
  }

  #competitions-list {

    li:nth-child(odd) {
      background-color: $table-bg-accent;
    }

    li {
      padding: 5px 10px;
      font-size: 13px;

      &.break {
        text-align: center;
        font-weight: bold;
      }
    }

    .date {
      float: right;
      font-weight: bold;
      i {
        float: left;
        margin-right: 10px;
      }
    }

    .location {
      display: inline;
    }

    .venue-link {
      display: inline;

      p {
        display: inline;
      }
    }

    @media (min-width: $screen-sm) {
      .competition-link {
        display: inline-block;
        margin-right: 20px;
        padding-left: 20px; /* Prevent from flags' shadows. */
        /* As of 2016-03-25, this width fits about 93% of the competition names */
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: bottom;
      }

      .location {
        margin-left: 20px;
      }
    }

    @media (min-width: $screen-lg) {
      p {
        display: inline;
        margin-right: 20px;
      }

      .date {
        float: inherit;
        margin-right: 20px;
        min-width: 180px;
        text-align: left;
        display: inline-block;
      }

      .competition-link {
        margin-left: 20px;
      }

      .location {
        margin-left: 20px;
      }

      .venue-link {
        margin-left: 20px;
      }
    }
  }
}

.competition-info {
  .compact {
    p {
      margin: 0;
    }

    dd p {
      margin-bottom: 0;
    }
  }

  dd.competition-events-list {
    font-size: 1.5em;
  }

  .dl-horizontal dt {
    white-space: normal;
  }

  #hide_registration_requirements {
    display: none;
  }
}

.anchor {
  display: block;
  height: 40px;
  margin-top: -40px;
  visibility: hidden;
}

#competition-tabs .tab-pane {
  border: 0;
  &:target {
    background-color: inherit;
  }
}

table.admin-competitions {
  font-size: 13px;

  tr.admin-table-header {
    background-color: #ccc;
  }

  td {
    vertical-align: middle;
  }

  .admin-delegate {
    width: 230px;
    vertical-align: middle;
  }

  .admin-date {
    width: 130px;
    max-width: 130px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
  }

  .admin-button {
    width: 50px;
  }
}

.alert-orange {
  @extend .alert-warning;
  background-color: $orange-bg;
}

.alert-green {
  @extend .alert-success;
  background-color: $green;
}

.toggle-body {
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
}

#status {
  display: block;
}

#competition-form {
  .championships .nested-fields {
    .championship-type {
      display: inline-block;
      width: auto;
    }
  }
}

.championship-trophy {
  color: $orange;
}
