table#competition-tabs {
  width: auto;
  td {
    vertical-align: middle;
  }
}

.competition-tab-form {
  .buttons {
    @extend .clearfix;

    .buttons-left {
      float: left;
    }

    .buttons-right {
      float: right;
    }
  }
}
