tr.senior-delegate {
  background-color: #e9e9e9;
  color: black;
  //font-weight: bold;
  font-size: 1.1em;
}

tr.candidate-delegate {
  font-style: italic;
}

.popover-content img {
  max-width: 100%;
  max-height: 100%;
}

.delegates-table tbody tr td {
  vertical-align: middle;
}

.jcrop-holder {
  margin-left: auto;
  margin-right: auto;
}

#avatar_thumbnail {
  cursor: pointer;
}

.delegates-stats-table {
  font-size: 13px;

  td {
    white-space: normal;
  }

  .board_member {
    @extend .alert-success;
  }

  .candidate_delegate {
    @extend .alert-warning;
  }

  .senior_delegate {
    @extend .alert-info;
  }

  .delegate {
    width: 28%;
  }

  .position {
    width: 15%;
  }

  .region {
    width: 26%;
  }

  .first,
  .last,
  .total,
  .history {
    width: 5%;
    text-align: center;
  }

  .phone {
    width: 11%;
  }
}
