tr.board-member {
  font-weight: bold;
}

tr.senior-delegate {
  background-color: black;
  color: white;
  font-weight: bold;
}

tr.candidate-delegate {
  font-style: italic;
}

.popover-content img {
  max-width: 100%;
  max-height: 100%;
}

.delegates-table tbody tr td {
  vertical-align: middle;
}

.jcrop-holder {
  margin-left: auto;
  margin-right: auto;
}

#avatar_thumbnail {
  cursor: pointer;
}

.delegates-table {
  font-size: 13px;

  .delegate {
    max-width: 25%;
  }

  .position,
  .region {
    width: 15%;
  }

  .first,
  .last {
    width: 12%;
    text-align: center;
  }

  .total {
    width: 12%;
    text-align: center;
  }
}
