tr.board-member {
  font-weight: bold;
}

tr.senior-delegate {
  background-color: black;
  color: white;
  font-weight: bold;
}

tr.candidate-delegate {
  font-style: italic;
}

.delegate-actions {
  visibility: hidden;
  tr:hover & {
    visibility: visible;
  }
}

.avatar-thumbnail {
  display: inline-block;
  background-size: cover;
  width: 50px;
  height: 50px;

  vertical-align: middle;
}
.avatar-thumbnail-lg {
  width: 100px;
  height: 100px;
}

.popover-content img {
  max-width: 100%;
  max-height: 100%;
}

.delegates-table tbody tr td {
  vertical-align: middle;
}

.jcrop-holder {
  margin-left: auto;
  margin-right: auto;
}

#avatar_thumbnail {
  cursor: pointer;
}
