#events-edit-area {
  .panel-heading {
    padding-top: 10px;
    padding-bottom: 10px;

    .panel-title {
      white-space: nowrap;
      overflow: hidden;

      $cubing-icon-size: 55px;
      .img-thumbnail.cubing-icon {
        font-size: 40px;
        position: absolute;
        top: -5px;
        height: $cubing-icon-size;
        z-index: 1;
      }

      .title {
        padding-left: $cubing-icon-size;
      }
    }
  }

  .panel-body {
    select {
      width: 100%;
    }
  }
}

.input-group.advancement-condition {
  width: 100%;

  .form-control {
    width: 50%;
  }
}
