#edit-schedule-area {
  .panel-primary {
    .collapse-indicator {
      color: #fff;
    }
  }

  #venues-edit-panel {
    .leaflet-container {
      height: 300px;
    }
    .venue-form-label {
      @extend label;
    }
    .panel-venue {
      margin-bottom: 15px;
      .new-venue-link {
        width: 100%;
      }
      .venue-title {
        padding-top: 7px;
      }
      .panel-body {
        .row {
          margin-bottom: 10px;
          .room-row {
            margin-bottom: 20px;
            .room-color-cell {
              padding-top: 5px;
            }
          }
        }
      }
    }
  }

  #schedules-edit-panel {
    #activity-picker-panel {
      &.affix {
        top: 10px;
      }
      &.affix-bottom {
        position: absolute;
        bottom: auto;
      }
      .selected-activity {
        border: 3px solid $selected-activity-border-color;
        margin-top: 1px;
        margin-bottom: 1px;
      }
      .panel-heading {
        @extend .text-center;
      }
      .panel-body {
        padding: 5px;
        overflow-y: auto;
      }
      .event-picker-line {
        .row {
          min-height: 32px;
          .activity-icon {
            padding: 0;
            .cubing-icon {
              font-size: 22px;
              &::before {
                margin-top: 2px;
              }
            }
          }
          .activity-in-picker {
            padding: 0;
          }
        }
      }
    }
    .room-selector {
      label {
        padding-top: 7px;
      }
    }
    #schedule-editor {
      #schedule-menu {
        width: 150px;
        position: fixed;
        top: 100px;
        left: 100px;
        display: block;
        &.hide-element {
          display: none;
        }
        &.delete-only {
          .edit-option {
            display: none;
          }
        }
        a {
          padding: 3px 20px;
          i {
            margin-right: 10px;
          }
        }
      }

      #schedule-calendar {
        &:target {
          // Override the flashy yellow we use for targets elsewhere
          background-color: transparent;
        }

        // Events get added to 'fc-helper-container' when they are dragged/resized,
        // so we need to consider any event there as selected.
        .fc-helper-container > .fc-event,
        .fc-event.selected-fc-event {
          border: 2px solid $selected-activity-border-color;
        }

      }
      #drop-event-area {
        z-index: 0;
        width: 100%;
        min-height: 40px;
        line-height: 36px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 15px;
        border-radius: 0.25em;
        border: 2px dashed #a94442;
        &.event-on-top {
          border-color: #f2dede;
          color: #f2dede;
          background-color: #a94442;
        }
        .fa {
          font-size: 20px;
          margin-left: 15px;
          margin-right: 15px;
          line-height: 36px;
        }
      }
    }
  }
}

#tooltip-enable-keyboard {
  .tooltip-inner {
    max-width: none;
  }
}

#calendar-settings-popover {
  .setting-label {
    padding-top: 7px;
    padding-right: 5px;
    padding-left: 0;
    font-size: 12px;
    text-align: right;
  }
  select {
    @extend .input-sm;
    margin-bottom: 5px;
  }
}

// This needs to be here, to overcome an issue with draggable activity + overflow container
.schedule-activity {
  background-color: $activity-bg-color;
  color: $activity-text-color;
  font-weight: bold;
  border-radius: 0.25em;
  margin: 3px 2px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  cursor: pointer;
  z-index: 3;
  &.activity-used {
    opacity: 0.5;
  }
}

// The popover gets appended to <body>, so we can't nest this style
#calendar-help-popover {
  width: 400px;
  dl {
    dt {
      margin-bottom: 10px;
      text-align: right;
      padding-right: 0;
      padding-left: 5px;
      &::after {
        content: ":";
      }
    }
    dd {
      margin-bottom: 10px;
      padding-left: 5px;
    }
  }
}
