/* ---------- general ---------- */

a:link,
a:visited,
a:active {
  color: #f60;
  text-decoration: none;
}

a:hover {
  color: #c30;
  text-decoration: none;
}

/*
 * Solution thanks to
 * https://github.com/twbs/bootstrap/issues/14854#issuecomment-60221141
 */
a[target=_blank]:not(.hide-new-window-icon),
form[target=_blank] button[type=submit] {
  &::after {
    font-family: 'Glyphicons Halflings';
    content: "\e164"; /* glyphicon-new-window */
    display: inline-block; /* prevent underlining */
    margin-left: 0.3em;
  }
  &.btn::after {
    // For some reason, the external link icon takes up more space than it
    // should when inside of a button. Hack around that here.
    font-size: 13px;
  }
}

:target {
  background-color: yellow;
  &::before {
    content: ">";
    margin-right: 0.3em;
  }
}
