/*
 * Solution inspired by:
 *  https://github.com/twbs/bootstrap/issues/14854#issuecomment-60221141
 */
a[target=_blank]:not(.hide-new-window-icon),
form[target=_blank] button[type=submit] {
  &::after {
    font-family: 'Glyphicons Halflings';
    content: "\e164"; /* glyphicon-new-window */
    display: inline-block; /* prevent underlining */
    margin-left: 0.3em;
    line-height: 1;
  }
}

:target {
  background-color: yellow;
}
