.navbar-static-top {
  margin-bottom: 15px;
  // Override bootstrap default, flexbox is taking care of this.
  min-height: auto;


  .dropdown-menu i {
    margin-right: 10px;
  }

  #locale-selector {
    min-width: 0;
    li {
      text-align: left;
    }
  }

  .logo{
    display: none;
  }

  .brand{
    position: absolute;
    top: 0;
    padding: 0;
    img{
      height: 62px;
    }
  }

  $nav-avatar-thumbnail-size: 40px;
  a.top-nav > .avatar-thumbnail {
    width: $nav-avatar-thumbnail-size;
    height: $nav-avatar-thumbnail-size;
    margin-top: -($nav-avatar-thumbnail-size - 20px) / 2;
    margin-bottom: -($nav-avatar-thumbnail-size - 20px) / 2;
  }

  .navbar-collapse {
    margin: 0;
    clear: both;

    $omni-search-sm-width: 230px;
    $omni-search-md-width: 300px;
    $omni-search-lg-width: 500px;


    form.navbar-form[role="search"] .wca-autocomplete-omni + .selectize-control .selectize-input {
      @media (min-width: $screen-sm-min) {
        width: $omni-search-sm-width;
      }
      @media (min-width: 1000) {
        width: $omni-search-md-width;
      }
      @media (min-width: 1400px) {
        width: $omni-search-lg-width;
      }
    }
  }

  .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
    &.top-nav:hover {
      background: #f0f0f0;
    }
  }

  .navbar-toggle {
    margin-top: 20px;
  }
}

@media (min-width: $screen-sm-min) {
  .navbar-static-top {
    .logo {
      display: block;
      height: 100%;
      a{
        padding: 0 10px;
        img{
          height: 50px;
        }
      }
    }

    .brand{
      top: 50px;
      img{
        display: none;
      }
    }

    .navbar-collapse {
      position: relative;
      border-top-left-radius: 8px;

      li.search{
        margin-top: 10px;
        form{
          display: inline;
        }
      }
    }

    .navbar-nav.navbar-right:last-child {
      margin-right: 0;
    }
  }
}
