.navbar-static-top {
  margin-bottom: 19px;

  .navbar-nav > .active > a {
    background-color: #ccc;
  }

  .dropdown-menu .fa {
    @extend .fa-fw;
    margin-right: 10px;
  }

  .dropdown-menu.countries {
    min-width: 0;
    li {
      text-align: left;
    }
  }

  .navbar-brand {
    padding: 0;
    padding-top: 16px;
    height: 110px;
    margin-bottom: -50px;
    margin-top: 10px;

    span {
      white-space: nowrap;
      font-size: 0.9em;
    }
    img {
      height: 50px;
      vertical-align: top;
      margin-top: -15px;
      margin-left: 10px;
      margin-right: 5px;
    }
  }

  $nav-avatar-thumbnail-size: 40px;
  a.top-nav > .avatar-thumbnail {
    width: $nav-avatar-thumbnail-size;
    height: $nav-avatar-thumbnail-size;
    margin-top: -($nav-avatar-thumbnail-size - 20px) / 2;
    margin-bottom: -($nav-avatar-thumbnail-size - 20px) / 2;
  }

  .navbar-collapse {
    background: #ddd;
    margin: 0;
    clear: both;

    $omni-search-sm-width: 230px;
    $omni-search-md-width: 450px;
    $omni-search-lg-width: 500px;

    form.navbar-form[role="search"] .wca-autocomplete-omni + .selectize-control .selectize-input {
      @media (min-width: $screen-sm-min) {
        width: $omni-search-sm-width;
      }
      @media (min-width: $screen-md-min) {
        width: $omni-search-md-width;
      }
      @media (min-width: $screen-lg-min) {
        width: $omni-search-lg-width;
      }
    }
  }

  .navbar-nav > li > a.top-nav:hover {
    background: #f0f0f0;
  }

  .navbar-toggle {
    margin: 10px;
    margin-top: 20px;
    margin-right: 20px;
  }
}

@media (min-width: $screen-sm-min) {
  .navbar-static-top {
    .navbar-brand {
      img {
        height: 100px;
        margin-top: -15px;
        margin-left: 35px;
        margin-right: 20px;
      }
      span {
        white-space: nowrap;
        font-size: 30px;
        font-variant: small-caps;
      }
    }

    .navbar-collapse {
      position: relative;
      border-top-left-radius: 8px;
      margin-left: 140px;

      /* make space for the border-top-left-radius */
      padding-left: 15px;

      form.navbar-form[role="search"] {
        position: absolute;
        right: 0;
        top: -60px;
      }
    }

    .navbar-nav.navbar-right:last-child {
      margin-right: 0;
    }
  }
}
