/*
 * This scss file is specifically used in the pdf rendered page (eg: the competition info and schedule page).
 */

a {
  color: black;
}

// We need the import here, otherwise Rails' asset adds a BOM at the beginning of it,
// and the font doesn't get recognize!
@import "cubing-icons"; /* stylelint-disable-line no-invalid-position-at-import-rule */

header {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 30px;
  .pdf-logo {
    width: 100%;
    img {
      width: 200px;
    }
  }
  .pdf-title {
    font-size: 40px;
  }
  .separator {
    display: inline-block;
    width: 50px;
    border-top: 3px solid black;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

.nobreak {
  page-break-inside: avoid;
  &::before {
    clear: both;
  }
}

.break-before {
  page-break-before: always;
}

.break-after {
  page-break-after: always;
}

table {
  width: 100%;
  border-collapse: collapse;
  word-break: break-word;
  th {
    padding: 5px 0;
  }
}

.main_content {
  width: 100%;
  table {
    &.show-events-table {
      text-align: center;
      a {
        text-decoration: none;
      }
      thead {
        th {
          border-bottom: 2px solid black;
        }
        // Due to the nested table, the percentage are not relative to the
        // same parent and are a bit tricky to get right.
        .event-name {
          width: 13%;
        }
        .round-name {
          width: 22%;
        }
        .round-format {
          width: 13%;
        }
        .round-proceed {
          width: 15%;
        }
      }
      tbody {
        tr.event-info {
          > td {
            border-bottom: 2px solid black;
            &.event-name {
              width: 13%;
              .cubing-icon {
                &::before {
                  font-size: 40px;
                }
              }
            }
            &.rounds-info {
              table {
                td {
                  padding: 3px 0;
                  &.round-name {
                    width: 25%;
                  }
                  &.round-format {
                    width: 15%;
                  }
                  &.round-proceed {
                    width: 17%;
                  }
                }
                :not(.last-round) > td {
                  border-bottom: 1px solid black;
                }
              }
            }
          }
        }
      }
    }
    &.show-schedule-table {
      text-align: center;
      thead {
        th {
          border-bottom: 2px solid black;
        }
      }
      tbody {
        td {
          border: 1px solid black;
          padding: 3px;
          p {
            padding: 0;
            margin: 0;
          }
          &.event-icon {
            border-right: 0;
            height: 46px;
            width: 46px;
            .cubing-icon {
              &::before {
                font-size: 40px;
              }
            }
          }
          &.event-data {
            border-left: 0;
            .activity-name {
              font-size: 18px;
              font-weight: bold;
            }
            .room-name {
              font-size: 14px;
              font-style: italic;
            }
          }
          &.activity-start,
          &.activity-end {
            min-width: 60px;
            max-width: 100px;
            font-weight: bold;
          }
          &.round-time-limit {
            max-width: 200px;
          }
          &.round-proceed {
            min-width: 70px;
          }
          &.round-format {
            min-width: 60px;
          }
        }
      }
    }
  }
}
