#persons-query-fields {
  #search-box {
    margin: 15px 0;
  }
}

.persons-table {
  .name {
    width: 50%;
  }

  .wca-id {
    width: 10%;
  }
  .country {
    width: 40%;
  }
}

.fixed-table-loading,
.pagination-detail {
  display: none !important;
}
