#poll-results {
  width: auto;
  td {
    padding-left: 20px;

    &.total {
      font-weight: bold;
    }

    &.bar {
      width: 200px;
    }
  }

}

.polls-list {
  width: auto;
}

.nested-fields input {
  width: 300px;
  display: inline;
}

.polls-home {
  margin-top: 20px;
  position: relative;
  display: block;
}

/*This is necessary because the "md" (Markdown) generates a <p> element, and we want the option label to appear inline with the radio/check*/
.checkbox p {
  display: inline;
}
