#poll-results {
  width: auto;
  td {
    padding-left: 20px;

    &.total {
      font-weight: bold;
    }

    &.bar {
      width: 200px;
    }
  }


}

#polls-list {
  width: auto;
}

.nested-fields input {
  width: 300px;
  display: inline;
}

a.new-poll {
  color: #090;
}
