// Stolen from
// https://github.com/bernat/best_in_place/blob/master/spec/internal/app/assets/stylesheets/style.css#L60
// and modified a bit.
.purr {
  position: fixed;
  width: 324px;
  top: 20px;
  right: 15px;
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #aaa;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  z-index: 1001; /* To cover our navbar-static-top */

  &:hover .close {
    @extend .glyphicon;
    @extend .glyphicon-remove;
    position: absolute;
    opacity: 1.0; /* fighting with bootstrap defaults */
    color: white;
    top: 5px;
    right: 3px;
    display: block;
    width: 25px;
    height: 25px;
  }
}
