table.registrations-table {
  margin-bottom: 50px;

  td {
    white-space: nowrap;
  }
  td.comments,
  td.guests {
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  tr.registration-p {
    color: grey;
  }
  tr.registration-a {
  }
}

#registrations-actions {
  position: fixed;
  bottom: 5px;
}
