#results-selector {
  width: 100%;
  margin: 20px 0;

  #event,
  #region,
  #type,
  #years,
  #show,
  #gender {
    font-size: 12px;
    font-weight: normal;
    display: block;
    min-width: 165px;
    @media (max-width: $screen-sm) {
      display: inline-block;
      width: 100%;
    }

    .all-events {
      cursor: pointer;
      padding-left: 2px;
      padding-right: 2px;
      vertical-align: top;
      display: inline-block;
      border-radius: 3px;
      font-size: 12px;
      color: white !important;
      height: 25px;
      line-height: 25px;
      background-color: $link-color;

      &:hover {
        background-color: $link-hover-color;
      }

      &.active {
        background-color: $blue;
      }

      &.active:hover {
        background-color: $blue;
      }
    }
  }
}

#search-results {
  .cubing-icon {
    vertical-align: baseline;
  }

  .highlight-focus {
    background-color: $highlight-row-color;
  }
}
