table.selectable-rows {
  th:first-child {
    cursor: pointer;
  }
  tr :first-child {
    text-align: center;
  }
  .all-selected span {
    @extend .glyphicon;
    @extend .glyphicon-check;
  }
  .none-selected span {
    @extend .glyphicon;
    @extend .glyphicon-unchecked;
  }
  .some-selected span {
    @extend .glyphicon;
    @extend .glyphicon-minus;
  }
  .selected-row {
    @extend .bg-warning;
  }
}
