#competitionDetails {
  margin: 20px 0 20px 0;
  font-size: 0.85em;
}

#competitionDetails .key {
  padding:        0px 10px 0 10px;
  font-weight:    bold;
  vertical-align: top;
  white-space:    nowrap;
}

#competitionDetails .sub {
  padding:        0px 10px 0 30px;
  font-weight:    bold;
  color:          #CCC;
  vertical-align: top;
  white-space:    nowrap;
}

#competitionDetails .choice {
  padding:        0px 10px 0 10px;
  font-weight:    bold;
  vertical-align: middle;
  white-space:    nowrap;
}

/* ------------------------------------------------------ */

table.results caption {
  text-align: left;
  padding:    0.8em 0 0.2em 0;
  margin:     0;
  font-size:  0.85em;
}

.results .caption {
  text-align: left;
  padding:    0.2em 0 0.2em 5px;
  margin:     0;
  font-size:  0.85em;
}

table.results {
  width:   100%;
  margin:  5px 0 5px 0;
  padding: 0;
}

table.results th {
  white-space:    nowrap;
  color:          #666;
  text-align:     left;
  vertical-align: middle;
  padding:        1px 7px 0 7px;
  height:         17px;
  line-height:    17px;
  font-weight:    bold;
  font-size:      0.75em;
  width:          auto;
  min-height:     15px;

  /* forces border to show in IE (gradient hides, otherwise) */
  position: relative;
  z-index: 1;

  /* background gradient */
  background: #eee;
  border-top: 1px solid #C3C3C3;
  border-bottom: 1px solid #C3C3C3;
}

.results th.f { width: 90% }

.results td {
  font-size:   0.75em;
  padding:     0 7px 0 7px;
  margin:      0;
  white-space: nowrap;
  min-height:  16px;
  vertical-align: middle;
}

.results td.r, .results th.r { text-align: right  }    /* stands for 'right-aligned' */
.results td.l, .results th.l { text-align: left   }    /* stands for 'left-aligned' */
.results td.c, .results th.c { text-align: center }    /* stands for 'centered' */

.results td.R, .results th.R {
  text-align:  right;
  font-weight: bold;
}

.results td.R2, .results th.R2 {
  text-align:  right;
  font-weight: bold;
}

.results td.L, .results th.L {
  text-align:  left;
  font-weight: bold;
}

.results tr   { background-color: #FFF }
.results tr.e { background-color: #EEE }   /* stands for 'even' */

/* ------------------------------------------------------ */

table.prereg {
  padding:    5px;
  margin:     auto auto 20px auto;
  font-size:  0.85em;
}

.prereg td {
  border: 1px solid #CCC;
  padding: 3px;
  background: #EEF;
  vertical-align: top;
}

.prereg input, .prereg select, .prereg textarea {
  background-color: #FF9;
}

.table-responsive table.nowrap tr td, .table-responsive table.nowrap tr th, .table-responsive table tr td.nowrap, .table-responsive table tr th.nowrap {
  white-space: nowrap;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
  padding: 0 5px;
}
