// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.members {
  input.date_picker.form-control {
    width: 150px;
  }

  div {
    display: table-cell;
  }

  div.selectize-input {
    width: 90%;
  }

  div.selectize-control {
    width: 250px
  }

  border-top: 1px solid #888;
  padding-top: 2px;
}
