table.team-members {
  tr {
    th {
      text-align: center;
    }

    td {
      vertical-align: middle;
      &.team-leader {
        text-align: center;
      }
    }
  }

  .member {
    &.past-member {
      background-color: $past-member-color;
    }

    .form-group {
      margin: 0;
    }

    input.date_picker.form-control {
      width: 120px;
    }

    div.selectize-control {
      width: 300px;
    }
  }
}

// Prevent .table-responsive from hiding a DataTimePicker when it overflows.
.team-members-wrapper .table-responsive {
  overflow-x: visible;
}

.form-actions {
  text-align: center;
  margin-top: 15px;
}

.new-team {
  text-align: center;
}

table.teams-table {
  tr td {
    vertical-align: middle;
  }
}
