.members {
  border-top: 1px solid $gray;
  padding-top: 2px;

  input.date_picker.form-control {
    width: 120px;
  }

  div.selectize-control {
    width: 280px;
  }
}

.past-member {
  background-color: $past-member-color;
}
