.wice-grid {
  tr.wg-filter-row input[type=text] {
    // Overrride WiceGrid default width.
    width: 100%;
  }
}

td.unconfirmed-email {
  font-style: italic;
}

label.full-width {
  width: 100%;
}

/* From http://stackoverflow.com/a/14762180/1739415 */
input[type="radio"].center-vertically {
  margin-top: -1px;
  vertical-align: middle;
  height: 100%;
}
