table.users-table {
  .wca-id {
    width: 10%;
  }
  .name {
    width: 35%;
  }
  .country {
    width: 20%;
  }
  .email {
    width: 30%;
  }
  .edit {
    width: 5%;
  }
}

td.unconfirmed-email {
  font-style: italic;
}

label.full-width {
  width: 100%;
}

/* From http://stackoverflow.com/a/14762180/1739415 */
input[type="radio"].center-vertically {
  margin-top: -1px;
  vertical-align: middle;
  height: 100%;
}

#edit-user-tabs .tab-pane {
  border: 0;
}

.user_current_password {
  opacity: 0.7;
}

#avatar-img {
  max-height: 400px;
}
