table.users-table {
  .wca-id {
    width: 15%;
  }
  .name {
    width: 40%;
  }
  .email {
    width: 40%;
  }
  .edit {
    width: 5%;
  }
}

td.unconfirmed-email {
  font-style: italic;
}

label.full-width {
  width: 100%;
}

/* From http://stackoverflow.com/a/14762180/1739415 */
input[type="radio"].center-vertically {
  margin-top: -1px;
  vertical-align: middle;
  height: 100%;
}

#have-you-competed-nav>li{
  background: #bdc3c7;
  width: 49.5%;
  float:left;
}


#have-you-competed-nav>li:first-child{
float:right;
}
