// ***** Overriding Bootstrap variables ****
$link-color: #e64503;


// Colors
$blue: #3f91eb;
$past-member-color: #fecd55;
$green: #c4e8b5;
$orange: #fc4a0a;
$orange-bg: #ffeca8;

// Colors for the schedule editor
$selected-activity-border-color: #791f82;
$activity-bg-color: #337ab7;
$activity-text-color: #fff;
