.wca-id:not(th) {
  font-family: monospace;
}

table.table {
  // From http://stackoverflow.com/a/10688485
  &.table-nonfluid {
    width: auto;
  }

  &.floatThead thead th {
    background-color: white;
  }

  &.table-vertical-align-middle tbody tr td {
    vertical-align: middle;
  }

  tfoot {
    font-weight: bold;
  }

  // Styling bootstrap sortable table
  th {
    &:focus {
      outline: none;
    }
    .sortable {
      &:hover {
        cursor: pointer;
      }
      &::after {
        font-family: FontAwesome;
        content: $fa-var-sort;
        margin-left: 5px;
      }
      &.asc::after {
        content: $fa-var-sort-asc;
        color: $blue;
      }
      &.desc::after {
        content: $fa-var-sort-desc;
        color: $blue;
      }
    }
  }
}

.avatar-thumbnail {
  display: inline-block;
  vertical-align: middle;

  background-size: cover;
  width: 50px;
  height: 50px;

  &.avatar-thumbnail-lg {
    width: 100px;
    height: 100px;
  }
}

.wca-user {
  .info {
    display: inline-block;
    vertical-align: middle;
  }
  .avatar-thumbnail {
    margin-right: 5px;
  }
  .name {
    white-space: nowrap;
  }
  .wca-id {
  }
}

.wca-user-link:hover,
.wca-user-link:focus {
  text-decoration: none;
  .info {
    text-decoration: underline;
  }
}

.event-checkbox-sm .cubing-icon {
  font-size: 1em;
}

table.table-greedy-last-column {
  white-space: nowrap;

  > thead > tr > th:last-child {
    width: 100%;
  }
  > tbody > tr > td:last-child {
    width: 100%;
  }
}


table.with-solves {
  thead tr th {
    &.solves {
      text-align: center;
    }
  }
  tbody tr td {
    &.solve, {
      text-align: right;
      &::before {
        content: '(';
        opacity: 0;
      }
      &::after {
        content: ')';
        opacity: 0;
      }
      &.trimmed {
        &::before {
          opacity: 1;
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
}

table.wca-results {
  @extend table, .with-solves;

  thead tr th {
    &.pos {
      text-align: right;
    }
    &.name {
    }
    &.wca-id {
    }
    &.country {
    }
    &.event-count {
      text-align: right;
    }
    &.average {
      text-align: right;
    }
    &.world-rank-single {
      text-align: right;
    }
    &.world-rank-average {
      text-align: right;
    }
    &.single {
      text-align: right;
    }
  }
  tbody tr td {
    padding: 3px 5px;
    &.event {
    }
    &.pos {
      text-align: right;
      &.tied-previous {
        @extend .text-muted;
      }
    }
    &.round {
    }
    &.name {
    }
    &.wca-id {
      vertical-align: middle;
    }
    &.country {
    }
    &.event-count {
      text-align: right;
    }
    &.average {
      text-align: right;
    }
    &.world-rank-single {
      text-align: right;
    }
    &.world-rank-average {
      text-align: right;
    }
    &.single {
      text-align: right;
    }
  }

  tbody tr.sort-by-average td {
    &.average,
    &.world-rank-average {
      font-weight: bold;
    }
  }

  tbody tr.sort-by-single td {
    &.single,
    &.world-rank-single {
      font-weight: bold;
    }
  }
}

// Support for nested list-groups:
//  http://stackoverflow.com/questions/29063244/consistent-styling-for-nested-lists-with-bootstrap
.list-group.list-group-root {
  @extend .well;
  padding: 0;
  overflow: hidden;

  .list-group {
    margin-bottom: 0;
  }

  .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0;
  }

  > .list-group-item:first-child {
    border-top-width: 0;
  }

  > .list-group {
    > .list-group-item {
      padding-left: 30px;
    }
    > .list-group > .list-group-item {
      padding-left: 45px;
    }
  }
}

// Workaround for funky style from bootstrap-datepicker-rails
.input-group.date .input-group-addon {
  cursor: initial;
}

// We need this because input-group will only style its childs correctly
// if there are at least two of them. Having an empty UTC addon looks
// weird, and having the input not inside of an input-group div will
// cause the picker to be aligned weirdly. The input needs to be inside
// of something with position: relative. This can go away once we have a
// newer version of the datepicker, which uses allowInputToggle.
.input-group.date.datetimepicker {
  width: 100%;
}

.form-group {
  .input-group {
    input.date_picker {
      border-radius: 4px;
      width: 100%;
    }
  }
}

// Add a border to .tab-pane to line up nicely with corresponding .nav-tabs.
// Note, we only want to do this on screensizes where the nav buttons have not
// yet collapsed.
.tab-pane {
  margin-bottom: 10px;

  @media (min-width: $screen-sm) {
    border: 1px solid #{$nav-tabs-border-color};
    border-top: 0;
    padding: 10px;
  }
}

.flag-icon {
  box-shadow: 0 0 8px rgba($gray-darker, 0.3);
  /* See the discussion here: https://github.com/thewca/worldcubeassociation.org/pull/2150#issuecomment-343270458 */
  background-color: rgba($gray-darker, 0.2);

  // Set flag imitations for competitions taking place in multiple countries.
  &.flag-icon-xf,
  &.flag-icon-xo,
  &.flag-icon-xw,
  &.flag-icon-xn,
  &.flag-icon-xe,
  &.flag-icon-xa,
  &.flag-icon-xs,
  &.flag-icon-xm {
    background-image: none;
    background-color: white;
    border-radius: 2px;
    /* The library uses line-height: 1em, but this doesn't fit the situation
       as we want the horizontal borders to be counted into the height.
       So for these particular flags we set the height property. */
    height: 1em;
  }
  &.flag-icon-xe {
    border: 1px solid $blue;
  }
  &.flag-icon-xa {
    border: 1px solid yellow;
  }
  &.flag-icon-xs,
  &.flag-icon-xn {
    border: 1px solid red;
  }
  &.flag-icon-xf {
    border: 1px solid green;
  }
  &.flag-icon-xo {
    border: 1px solid $orange;
  }
  &.flag-icon-xm,
  &.flag-icon-xw {
    border: 1px solid;
    border-image: linear-gradient(to right, red, blue) 1;
  }
}

// Textarea resizes dynamically, so changing its size manually is no longer necessary.
textarea {
  resize: none;
}

// Style for event pickers
.event-checkbox,
.event-radio {
  .cubing-icon {
    font-size: 2em;
  }

  label {
    margin-bottom: 0;
  }
  input[type=checkbox],
  input[type=radio] {
    display: none;
    + span.cubing-icon {
      color: #ccc;
    }
    &:checked + span.cubing-icon {
      color: black;
    }
  }

  &:not(.disabled) {
    label {
      cursor: pointer;
    }
  }
}

// _associated_events_picker.html.erb specific styles
.form-horizontal {
  .associated-events-label {
    @extend .col-sm-2, .control-label;
  }

  .associated-events {
    @extend .col-sm-9;
  }
}

.CodeMirror,
.CodeMirror-scroll {
  min-height: 50px;
}

/* In case of form errors, they contain links targetting the relevant form elements.
   SimpleMDE sets `display: none` for textareas to show custom editor.
   As the textareas are not displayed, there is no way to target them with such link.
   To make it work, we force them to be rendered but still invisible. */
.markdown-editor {
  display: block !important; // scss-lint:disable ImportantRule
  visibility: hidden;
  height: 0 !important; // scss-lint:disable ImportantRule
  margin: 0;
  padding: 0;
  border: 0;
}

.bs-table-query-fields {
  margin: 15px 0;
}

a.plain {
  color: inherit;
  text-decoration: none;
}

// From http://stackoverflow.com/a/22892773
.row.equal {
  display: flex;
  flex-wrap: wrap;
}

// Modified from http://bootsnipp.com/snippets/featured/loading-button-effect-no-js
button.saving {
  @keyframes ld {
    0% { transform: rotate(0deg) scale(1); }
    50% { transform: rotate(180deg) scale(1.1); }
    100% { transform: rotate(360deg) scale(1); }
  }

  position: relative;
  opacity: 0.8;

  &:hover,
  &:active,
  &:focus {
    cursor: default;
    box-shadow: none;
  }

  &::before {
    content: '';

    display: inline-block;

    position: absolute;
    background: transparent;
    border: 1px solid currentColor;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;

    box-sizing: border-box;

    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;

    width: 24px;
    height: 24px;

    animation: ld 1s ease-in-out infinite;
  }
}

// Modified from https://stackoverflow.com/a/22920590
.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

select.input-xs {
  padding-left: 0;
  padding-right: 0;
}

.heading-as-link {
  &:hover {
    cursor: pointer;
    .panel-info > & {
      @extend a, .list-group-item-info, :hover;
    }
    .panel-warning > & {
      @extend a, .list-group-item-warning, :hover;
    }
  }
  a {
    text-decoration: none;
  }
}

.invisible-iframe-map {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0;
}
