.wca-id:not(th) {
  font-family: monospace;
}

table.table {
  // From http://stackoverflow.com/a/10688485
  &.table-nonfluid {
    width: auto;
  }

  &.floatThead thead th {
    background-color: white;
  }

  &.table-vertical-align-middle tbody tr td {
    vertical-align: middle;
  }

  tfoot {
    font-weight: bold;
  }

  // Styling bootstrap sortable table
  th {
    &:focus {
      outline: none;
    }
    .sortable {
      &:hover {
        cursor: pointer;
      }
      &:after {
        font-family: FontAwesome;
        content: $fa-var-sort;
        margin-left: 5px;
      }
      &.asc:after {
        content: $fa-var-sort-asc;
        color: $blue;
      }
      &.desc:after {
        content: $fa-var-sort-desc;
        color: $blue;
      }
    }
  }
}

.wca-user {
  white-space: nowrap;

  .avatar-thumbnail {
    // Put thumbnail to the left of both name and wca-id.
    float: left;
    margin-right: 5px;
  }
  .name {
  }
  .wca-id {
    // Put wca-id on a new line.
    display: block;
  }
}

form .event-checkbox .cubing-icon {
  font-size: 2em;
}

form .event-checkbox-sm .cubing-icon {
  font-size: 1em;
}

table.table-greedy-last-column {
  white-space: nowrap;

  thead tr th:last-child {
    width: 100%;
  }
  tbody tr td:last-child {
    width: 100%;
  }
}

table.wca-results {
  thead tr th {
    white-space: nowrap;

    &:last-child {
      width: 100%;
    }
    &.position {
    }
    &.name {
    }
    &.wca-id {
    }
    &.countryId {
    }
    &.average {
      text-align: right;
    }
    &.world-rank-single {
      text-align: right;
    }
    &.world-rank-average {
      text-align: right;
    }
    &.single {
      text-align: right;
    }
  }
  tbody tr td {
    &:last-child {
      width: 100%;
    }
    &.position {
      &.tied-previous {
        @extend .text-muted;
      }
    }
    &.name {
      white-space: nowrap;
    }
    &.wca-id {
      vertical-align: middle;
    }
    &.countryId {
      white-space: nowrap;
    }
    &.average {
      text-align: right;
    }
    &.world-rank-single {
      text-align: right;
    }
    &.world-rank-average {
      text-align: right;
    }
    &.single {
      text-align: right;
    }
  }

  &.wca-results-sort-by-average {
    .average,
    .world-rank-average {
      font-weight: bold;
    }
  }

  &.wca-results-sort-by-single {
    .single,
    .world-rank-single {
      font-weight: bold;
    }
  }
}

// Support for nested list-groups:
//  http://stackoverflow.com/questions/29063244/consistent-styling-for-nested-lists-with-bootstrap
.list-group.list-group-root {
  @extend .well;
  padding: 0;
  overflow: hidden;

  .list-group {
    margin-bottom: 0;
  }

  .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0;
  }

  > .list-group-item:first-child {
    border-top-width: 0;
  }

  > .list-group {
    > .list-group-item {
      padding-left: 30px;
    }
    > .list-group > .list-group-item {
      padding-left: 45px;
    }
  }
}

// Workaround for funky style from bootstrap-datepicker-rails
.input-group.date .input-group-addon {
  cursor: initial;
}

// We need this because input-group will only style its childs correctly
// if there are at least two of them. Having an empty UTC addon looks
// weird, and having the input not inside of an input-group div will
// cause the picker to be aligned weirdly. The input needs to be inside
// of something with position: relative. This can go away once we have a
// newer version of the datepicker, which uses allowInputToggle.
.input-group.date.datetimepicker {
  width: 100%;
}

.form-group {
  .input-group {
    input.date_picker {
      border-radius: 4px;
      width: 100%;
    }
  }
}

// Add a border to .tab-pane to line up nicely with corresponding .nav-tabs.
// Note, we only want to do this on screensizes where the nav buttons have not
// yet collapsed.
.tab-pane {
  margin-bottom: 10px;

  @media (min-width: $screen-sm) {
    border: 1px solid #{$nav-tabs-border-color};
    border-top: 0;
    padding: 10px;
  }
}


// Set flag imitations for competitions taking place in multiple countries.
.f16.flag {
  &.xe,
  &.xa,
  &.xs {
    background-image: none;
    display: inline-block;
    top: 1px;
    width: 16px;
    height: 12px;
    background-color: white;
    border-radius: 2px;
  }
  &.xe {
    border: 1px solid $blue;
  }
  &.xa {
    border: 1px solid yellow;
  }
  &.xs {
    border: 1px solid red;
  }
}

// Textarea resizes dynamically, so changing its size manually is no longer necessary.
textarea {
  resize: none;
}
