.wca-id {
  font-family: monospace;
}

// From http://stackoverflow.com/a/10688485
.table-nonfluid {
  width: auto;
}

.table-vertical-align-middle tbody tr td {
  vertical-align: middle;
}

.wca-user {
  white-space: nowrap;

  .avatar-thumbnail {
    // Put thumbnail to the left of both name and wca-id.
    float: left;
    margin-right: 5px;
  }
  .name {
  }
  .wca-id {
    // Put wca-id on a new line.
    display: block;
  }
}

form .event-checkbox .cubing-icon {
  font-size: 2em;
}

form .event-checkbox-sm .cubing-icon {
  font-size: 1em;
}
