<div class="nested-fields">
  <%= f.text_field :description, label: false, class: 'form-control', required: true, maxlength: 200 %>
  <%= link_to_remove_association button_tag(ui_icon("times"), type: "button", class: "btn btn-danger"), f %>
</div>
