<% provide(:title, 'Polls') %>

<div class="container">
  <h1>
    <%= yield(:title) %>

    <% if current_user.can_create_poll? %>
      <%= link_to icon("plus", "New"), new_poll_path, class: "btn btn-primary" %>
    <% end %>
  </h1>

  <% if @polls.empty? %>
    <div class="alert alert-warning">There are currently no polls.</div>
  <% else %>
    <h4>Open polls</h4>
    <%= render 'polls_list', polls: @open_polls %>

    <h4>Closed polls</h4>
    <%= render 'polls_list', polls: @closed_polls %>
  <% end %>
</div>
