<% provide(:title, 'Create poll') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <%= simple_form_for @poll, html: { class: 'form-horizontal are-you-sure no-submit-on-enter' }, wrapper: :horizontal_form do |f| %>
    <%= f.input :question, required: true %>

    <button type="submit" class="btn btn-success">Create poll</button>
  <% end %>
</div>
