<div class="nested-fields">
  <%= f.input :championship_type do %>
    <%= f.select :championship_type, championship_select_fields, { disabled: [""] }, { class: "form-control championship-type" } %>
    <%= link_to_remove_association button_tag(icon("times"), type: "button", class: "btn btn-danger"), f %>
  <% end %>
</div>
