<%= content_tag :div, class: ["event-selector", "text-center"] do %>
  <% @competition.events_with_round_types_with_results.each do |event, rounds_with_results| %>
    <span class="event-radio">
      <%= label_tag "radio-#{event.id}-#{name}" do %>
        <%= radio_button_tag "event-#{name}", event.id, false, id: "radio-#{event.id}-#{name}" %>
        <%= cubing_icon event.id, data: { toggle: "tooltip", placement: "top" }, title: event.name %>
      <% end %>
    </span>
  <% end %>
<% end %>
