<% provide(:title, @competition.name) %>
<%= javascript_pack_tag 'edit_events' %>

<%= render layout: 'nav' do %>
  <div id="events-edit-area"></div>
  <script>
    $(function() {
      wca.initializeEventsForm(
        <%= @competition.id.to_json.html_safe %>,
        <%= @competition.competition_events.map(&:to_wcif).to_json.html_safe %>
      );
    });
  </script>
<% end %>
