<% provide(:title, "Manage schedule for #{@competition.name}") %>
<% add_to_packs("wca_maps") %>

<%= render layout: 'nav' do %>
  <% if !@competition.has_defined_dates? %>
    <div class="alert alert-danger">
      There is no start and/or end date assigned to this competition yet.
      Before you can manage your schedule, you have to add them
      <%= link_to "here", edit_competition_path(@competition, anchor: "competition_start_date") %>.
    </div>
  <% elsif @competition.country.blank? %>
    <div class="alert alert-danger">
      There is no country assigned to this competition yet.
      Before you can manage your schedule, you have to add one
      <%= link_to "here", edit_competition_path(@competition, anchor: "competition_countryId") %>.
    </div>
  <% else %>
    <%= react_component("EditScheduleNew", {
      competitionId: @competition.id,
      wcifEvents: @competition.events_wcif,
      wcifSchedule: @competition.schedule_wcif,
      countryZones: @competition.country_zones,
      calendarLocale: I18n.locale,
    }, {
      id: 'edit-schedule-area'
    }) %>
  <% end %>
<% end %>
