<% provide(:title, @competition.name) %>
<% add_to_packs("edit_events") %>

<%= render layout: 'nav' do %>
  <div id="events-edit-area"></div>
  <script>
    $(function() {
      window.wca.initializeEventsForm(
        <%= @competition.id.to_json.html_safe %>,
        <%= current_user.can_add_and_remove_events?(@competition).to_json.html_safe %>,
        <%= @competition.events_wcif.to_json.html_safe %>
      );
    });
  </script>
<% end %>
