<% provide(:title, 'Competitions') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <%= grid(@competitions_grid) do |g|
    g.column name: "id", attribute: "id"
    g.column name: "Name", attribute: "name"
    g.column name: "Start Date", attribute: "year" do |competition|
      "#{competition.start_date}"
    end

    g.column do |competition|
      link_to('Edit', edit_competition_path(competition))
    end
  end -%>
</div>
