<% provide(:title, 'Competitions') %>

<div class="container">
  <h2><%= yield(:title) %></h2>

  <%= form_tag competitions_path, method: :get, remote: true, class: "competition-select form-inline", id: "comp-query-form" do %>
    <%= render 'index_form' %>
  <% end %>

  <div id="search-results">
    <%= render 'index_search_results', competitions: @competitions %>
  </div>
  <div id="loading">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
  </div>
</div>
