<% provide(:title, 'My competitions') %>

<div class="container">
  <h3><%= yield(:title) %></h3>

  <small>Only competitions which use the WCA registration system will be shown here.</small>
  <%= render "my_competitions_table", competitions: @not_past_competitions, past: false %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#past-competitions" class="collapsed">
          <span>Past competitions</span>
          <span class="collapse-indicator"></span>
        </a>
      </h3>
    </div>

    <div id="past-competitions" class="panel-collapse collapse">
      <div class="panel-body">
        <%= render "my_competitions_table", competitions: @past_competitions, past: true %>
      </div>
    </div>
  </div>
  <script>
    (function() {
      // Reflow table when its made visible. See:
      // https://github.com/cubing/worldcubeassociation.org/issues/343
      // changed to .trigger, see https://github.com/cubing/worldcubeassociation.org/issues/343#issuecomment-182916594
      $('#past-competitions').on('show.bs.collapse', function(e) {
        $('#past-competitions table:not(.floatThead-table)').trigger('reflow');
      });
    })();
  </script>

  <p>
    <% if current_user.wca_id %>
      <%= link_to "My profile", "/results/p.php?i=" + current_user.wca_id %>
    <% end %>
  </p>

</div>
