<% provide(:title, 'Upcoming competitions') %>

<div class="container">
  <h3><%= yield(:title) %></h3>

  <%= render "my_competitions_table", competitions: @future_competitions, upcoming: true %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#past-competitions2" class="collapsed">
          <span>Past competitions</span>
          <span class="collapse-indicator"></span>
        </a>
      </h3>
    </div>
    <div id="past-competitions2" class="panel-collapse collapse">
      <div class="panel-body">
        <%= render "my_competitions_table", competitions: @past_competitions, upcoming: false %>
      </div>
    </div>
  </div>

  <p>
    <% if current_user.wca_id %>
      <%= link_to "My profile", "/results/p.php?i=" + current_user.wca_id %>
    <% end %>
  </p>

</div>
