<% provide(:title, t('.create_competition')) %>

<div class="container">
  <h1><%= yield(:title) %></h1>
  <% if action_name == "new" %>
    <%= alert :info, t('.note_clone'), note: true %>
  <% end %>
  <%= render 'competition_form_new_2' %>
</div>
