<% provide(:title, 'Competitions') %>

<div class="container">
  <h2><%= yield(:title) %></h2>

  <%= wca_table_for @competitions, extra_table_class: "competitions-table" do |table| %>
    <% total = @competitions.length %>
    <% table.column :year %>
    <% table.column :date %>
    <% table.column :name do |competition, column, column_options| %>
      <% index = column_options[:records].index(competition) %>  
      <% anchor_tag = index == (total/2 - 10) %>
      <%= link_to competition.name, competition_path(competition), id: anchor_tag ? "today" : "" %>
    <% end %>
    <% table.column :country_city %>
    <% table.column :venue %> 
  <% end %>  

</div>
