<% provide(:title, @competition.name) %>

<%= render layout: 'results_nav' do %>
  <% cache @competition.result_cache_key("by_person") do %>
    <% @competition.person_ids_with_results.each do |personId, results| %>
      <h3>
        <% first_result = results.first %>
        <%= anchorable "#{first_result.personName} - #{first_result.country.name}", personId %>
        <%= link_to "WCA profile", first_result.results_path %>
      </h3>
      <%= render "results_table", results: results, hide_name: true, hide_country: true %>
    <% end %>
  <% end %>
<% end %>
