name: Deploy Nextjs to Production
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.CI_CD_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.CI_CD_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build and push nextjs Image
        uses: ./.github/actions/build-js-image
        with:
          registry: ${{ steps.login-ecr.outputs.registry }}/wca-nextjs
          tag: nextjs-production
      - name: Deploy new nextjs Image
        run: |
          aws ecs update-service --cluster wca-on-rails --service wca-on-rails-prod-nextjs-production --force-new-deployment
