name: Deploy Image on GitHub Release
on:
  release:
    types: [created]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.CI_CD_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.CI_CD_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Get the SHA of the current branch/fork
        shell: bash
        run: |
          echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> "$GITHUB_ENV"
      - name: Build production images
        uses: ./.github/actions/build-environment
        with:
          environment: production
          build_tag: ${{ env.SHORT_SHA }}
          registry: ${{ steps.login-ecr.outputs.registry }}/wca-on-rails
        # Replace the old sidekiq image with the new one
      - name: Deploy Sidekiq and sqs worker
        run: |
          aws ecs update-service --cluster wca-on-rails --service wca-on-rails-prod-auxiliary-services --force-new-deployment
          aws ecs update-service --cluster wca-on-rails --service wca-on-rails-prod-sqs-worker --force-new-deployment
