
/* Override Bootstrap default. */
@media (min-width: 480px) {
  .container {
    width: 100%;
  }
}

#logo {
  width: 2em;
  vertical-align: middle;
  padding: 0 0em 0.5em 0;
}

h1 {
  font-weight: bold;
  border-bottom: 1px solid #0009;
  text-align: center;
  line-height: 1.2em;
  font-variant: small-caps;
}

h2 {
  margin: 0.8em 0em;
  padding: 0.7em 0em 0.3em 0em;
  font-weight: bold;
  border-bottom: 1px solid #000;
}

h3 {
}

#content {
  max-width: 1000px;
  font-family: Helvetica, Tahoma, sans-serif;
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 100px;
  line-height: 1.3em;
}



#content li {
  margin-left: -1em;
  padding-top: 10px
}

.logo_with_text {
  max-width: 70%;
  max-height: 200px;
  margin-bottom: 16px;
}

.version {
  margin: 1em 0em;
  text-align: center;
  font-weight: bold;
}

.label {
  padding: 4px 4px 2px 4px;
  margin: 0px 2px;
  border-radius: 4px;
  background: #DDD;
}

.SEPARATE, .example {
  background: #AAA;
}

.linked {
  background: #DEF;
}

#content a {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}

#content a:hover {
  text-decoration: underline;
}
